In [1]:
import pandas as pd
import numpy as np
import glob
import time
import datetime
import pathlib
from pandas_extraction import FS
pd.set_option('display.float_format', '{:.2f}'.format)

([[433728000000, 983000000], [465177600000, 1516000000], [496627200000, 1918000000], [528076800000, 1902000000], [559526400000, 2661000000], [591580800000, 4071000000], [623030400000, 5284000000], [65
2019
D:\Cloud\OneDrive\Web\charts.tendollardata.com\data\Historical Financial Statements\Large Cap+\year\Income Statement\Y_AAPL_income_statements.csv
up next
([[433728000000, 983000000], [465177600000, 1516000000], [496627200000, 1918000000], [528076800000, 1902000000], [559526400000, 2661000000], [591580800000, 4071000000], [623030400000, 5284000000], [65
[983000000, 1516000000, 1918000000, 1902000000, 2661000000, 4071000000, 5284000000, 5558000000, 6309000000, 7087000000, 7977000000, 9189000000, 11062000000, 9833000000, 7081000000, 5941000000, 6134000000, 7983000000, 5363000000, 5742000000, 6207000000, 8279000000, 13931000000, 19315000000, 24006000000, 32479000000, 42905000000, 65225000000, 108249000000, 156508000000, 170910000000, 182795000000, 233715000000, 215639000000, 229234000000, 265595000000, 260174000000]
([[433728000000], [465177600000], [496627200000], [528076800000], [559526400000], [591580800000], [623030400000], [654480000000], [685929600000], [717379200000], [748828800000], [780883200000], [812332800000], [843782400000], [875232000000], [906681600000], [938217600000], [970272000000], [1001721600000], [1033171200000], [1064620800000], [1096070400000], [1127520000000], [1159574400000], [1191024000000], [1222473600000], [1253923200000], [1285372800000], [1316822400000], [1348876800000], [1380326400000], [1411776000000], [1443225600000], [1474675200000], [1506729600000], [1538179200000], [1569628800000]],)
df html table   Total: 2019 - 1983                       Line Item (Metric)       FY 2019  \
1   2148760000000.00                          Revenue (Sales)  260174000000
2   1322873000000.00                  Cost of Revenue (Sales)  161782000000
3    825886000000.00                    Gross Profit (Income)   98392000000
4                                 Gross Profit (Income) Ratio          0.38
5     91369000000.00  Research and Development (R&D) Expenses   16217000000

        FY 2018       FY 2017       FY 2016       FY 2015       FY 2014  \
1  265595000000  229234000000  215639000000  233715000000  182795000000
2  163756000000  141048000000  131376000000  140089000000  112258000000
3  101839000000   88186000000   84263000000   93626000000   70537000000
4          0.38          0.38          0.39          0.40          0.39
5   14236000000   11581000000   10045000000    8067000000    6041000000

        FY 2013       FY 2012  ...     FY 1992     FY 1991     FY 1990  \
1  170910000000  156508000000  ...  7087000000  6309000000  5558000000
2  106606000000   87846000000  ...  3991000000  3314000000  2606000000
3   64304000000   68662000000  ...  3095000000  2995000000  2952000000
4          0.38          0.44  ...        0.44        0.47        0.53
5    4475000000    3381000000  ...   602000000   583000000   478000000

      FY 1989     FY 1988     FY 1987     FY 1986     FY 1985     FY 1984  \
1  5284000000  4071000000  2661000000  1902000000  1918000000  1516000000
2  2695000000  1991000000  1296000000   891000000  1118000000   879000000
3  2589000000  2080000000  1365000000  1011000000   800000000   637000000
4        0.49        0.51        0.51        0.53        0.42        0.42
5   420000000   273000000   192000000   128000000    73000000    71000000

     FY 1983
1  983000000
2  506000000
3  477000000
4       0.49
5   60000000

[5 rows x 39 columns]
df html table           Date Quarter & Year  Revenue (Sales)  Cost of Revenue (Sales)  \
36  1983-09-30        FY 1983        983000000                506000000
35  1984-09-28        FY 1984       1516000000                879000000
34  1985-09-27        FY 1985       1918000000               1118000000
33  1986-09-26        FY 1986       1902000000                891000000
32  1987-09-25        FY 1987       2661000000               1296000000

    Gross Profit (Income)  Gross Profit (Income) Ratio  \
36              477000000                         0.49
35              637000000                         0.42
34              800000000                         0.42
33             1011000000                         0.53
32             1365000000                         0.51

    Research and Development (R&D) Expenses  \
36                                 60000000
35                                 71000000
34                                 73000000
33                                128000000
32                                192000000

    Sales, General and Administrative (SG&A) Expenses  Other Expenses  \
36                                          287000000            0.00
35                                          480000000            0.00
34                                          588000000            0.00
33                                          609000000            0.00
32                                          802000000            0.00

    Operating Expenses  ...  Income Before Tax Ratio  Income Tax Expense  \
36           347000000  ...                     0.15         69000000.00
35           551000000  ...                     0.07         45000000.00
34           698000000  ...                     0.06         59000000.00
33           737000000  ...                     0.16        156000000.00
32           994000000  ...                     0.15        193000000.00

    Net Income  Net Income Ratio  EPS  EPS Diluted  \
36    77000000              0.08 0.02         0.02
35    64000000              0.04 0.02         0.02
34    61000000              0.03 0.02         0.02
33   154000000              0.08 0.04         0.04
32   217000000              0.08 0.06         0.06

    Weighted Average Shares Outstanding  \
36                           3353000000
35                           3410000000
34                           3466000000
33                           3602000000
32                           3685000000

    Weighted Average Shares Outstanding (Diluted)  SEC Filing  \
36                                     3353000000         NaN
35                                     3410000000         NaN
34                                     3466000000         NaN
33                                     3602000000         NaN
32                                     3685000000         NaN

    Date & Time Filing Accepted
36                          NaN
35                          NaN
34                          NaN
33                          NaN
32                          NaN

[5 rows x 29 columns]

In [2]:
# from pandas_extraction import FS_csv, FS_first_year,FS_latest_year

In [3]:
# subject = "Income Statement"
# symbol = "AAPL"
# glob.glob("..\data\Historical Financial Statements\*\year\{}\*_{}_*".format(subject,symbol))[-1]

In [6]:
# FS("IS","AAPL")
FS("IS","AAPL").df_raw()#.df_values()['df_table']
# FS("IS","AAPL").df_values()

,Unnamed: 0,date,symbol,fillingDate,acceptedDate,period,revenue,costOfRevenue,grossProfit,grossProfitRatio,...,incomeBeforeTaxRatio,incomeTaxExpense,netIncome,netIncomeRatio,eps,epsdiluted,weightedAverageShsOut,weightedAverageShsOutDil,link,finalLink
0,0,2019-09-28,AAPL,2019-10-31 00:00:00,2019-10-30 18:12:36,FY,260174000000,161782000000,98392000000,0.38,...,0.25,10481000000.00,55256000000,0.21,2.97,2.97,18595652000,18595652000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
1,0,2018-09-29,AAPL,2018-11-05 00:00:00,2018-11-05 08:01:40,FY,265595000000,163756000000,101839000000,0.38,...,0.27,11872000000.00,59531000000,0.22,3.05,3.05,20000436000,20000436000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
2,0,2017-09-30,AAPL,2017-11-03 00:00:00,2017-11-03 08:01:37,FY,229234000000,141048000000,88186000000,0.38,...,0.28,15738000000.00,48351000000,0.21,2.30,2.30,21006768000,21006768000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
3,0,2016-09-24,AAPL,2016-10-26 00:00:00,2016-10-26 16:42:16,FY,215639000000,131376000000,84263000000,0.39,...,0.28,15685000000.00,45687000000,0.21,2.08,2.08,22001124000,22001124000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
4,0,2015-09-26,AAPL,2015-10-28 00:00:00,2015-10-28 16:31:09,FY,233715000000,140089000000,93626000000,0.40,...,0.31,19121000000.00,53394000000,0.23,2.30,2.30,23172276000,23172276000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
5,0,2014-09-27,AAPL,2014-10-27 00:00:00,2014-10-27 17:11:55,FY,182795000000,112258000000,70537000000,0.39,...,0.29,13973000000.00,39510000000,0.22,6.45,6.45,6123000000,6123000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
6,0,2013-09-28,AAPL,2013-10-30 00:00:00,2013-10-29 20:38:28,FY,170910000000,106606000000,64304000000,0.38,...,0.29,13118000000.00,37037000000,0.22,5.68,5.68,6522000000,6522000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
7,0,2012-09-29,AAPL,2012-10-31 00:00:00,2012-10-31 17:07:19,FY,156508000000,87846000000,68662000000,0.44,...,0.36,14030000000.00,41733000000,0.27,6.31,6.31,6617000000,6617000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
8,0,2011-09-24,AAPL,2011-10-26 00:00:00,2011-10-26 16:35:25,FY,108249000000,64431000000,43818000000,0.40,...,0.32,8283000000.00,25922000000,0.24,3.95,3.95,6557000000,6557000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
9,0,2010-09-25,AAPL,2010-10-27 00:00:00,2010-10-27 16:36:21,FY,65225000000,39541000000,25684000000,0.39,...,0.28,4527000000.00,14013000000,0.21,2.16,2.16,6473000000,6473000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
10,0,2009-09-26,AAPL,2009-10-27 00:00:00,2009-10-27 16:18:29,FY,42905000000,25683000000,17222000000,0.40,...,0.28,3831000000.00,8235000000,0.19,1.30,1.30,6349000000,6349000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
11,0,2008-09-27,AAPL,2008-11-05 00:00:00,2008-11-05 06:16:23,FY,32479000000,21334000000,11145000000,0.34,...,0.21,2061000000.00,4834000000,0.15,0.77,0.77,6315000000,6315000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
12,0,2007-09-29,AAPL,2007-11-15 00:00:00,2007-11-15 16:49:37,FY,24006000000,15852000000,8154000000,0.34,...,0.21,1512000000.00,3496000000,0.15,0.56,0.56,6225000000,6225000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
13,0,2006-09-30,AAPL,2006-12-29,2006-12-29 06:05:58,FY,19315000000,13717000000,5598000000,0.29,...,0.15,829000000.00,1989000000,0.10,0.32,0.32,6143000000,6143000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
14,0,2005-09-24,AAPL,2005-12-01,2005-11-30 21:22:48,FY,13931000000,9888000000,4043000000,0.29,...,0.13,480000000.00,1335000000,0.10,0.22,0.22,5997000000,5997000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
15,0,2004-09-25,AAPL,2004-12-03,2004-12-02 18:05:49,FY,8279000000,6020000000,2259000000,0.27,...,0.05,107000000.00,276000000,0.03,0.05,0.05,5422000000,5422000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
16,0,2003-09-27,AAPL,2003-12-19,2003-12-19 17:25:45,FY,6207000000,4499000000,1708000000,0.28,...,0.01,24000000.00,69000000,0.01,0.02,0.02,5089000000,5089000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
17,0,2002-09-28,AAPL,2002-12-19 00:00:00,2002-12-19 17:20:21,FY,5742000000,4139000000,1603000000,0.28,...,0.02,22000000.00,65000000,0.01,0.02,0.02,5065000000,5065000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
18,0,2001-09-29,AAPL,2001-12-21,2001-12-21 00:00:00,FY,5363000000,4128000000,1235000000,0.23,...,-0.01,-15000000.00,-25000000,-0.00,0.00,0.00,4839000000,4839000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
19,0,2000-09-30,AAPL,2000-12-14 00:00:00,2000-12-14 00:00:00,FY,7983000000,5817000000,2166000000,0.27,...,0.14,306000000.00,786000000,0.10,0.16,0.16,5045000000,5045000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
20,0,1999-09-25,AAPL,1999-12-22 00:00:00,1999-12-22 00:00:00,FY,6134000000,4438000000,1696000000,0.28,...,0.11,75000000.00,601000000,0.10,0.14,0.14,4877000000,4877000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
21,0,1998-09-25,AAPL,NaN,NaN,FY,5941000000,4462000000,1479000000,0.25,...,0.06,20000000.00,309000000,0.05,0.08,0.08,4702000000,4702000000,NaN,NaN
22,0,1997-09-26,AAPL,1997-12-05 00:00:00,1997-12-05 00:00:00,FY,7081000000,5713000000,1368000000,0.19,...,-0.15,0.00,-1045000000,-0.15,-0.11,-0.11,3530000000,3530000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
23,0,1996-09-27,AAPL,1996-12-19 00:00:00,1996-12-19 00:00:00,FY,9833000000,8865000000,968000000,0.10,...,-0.13,-479000000.00,-816000000,-0.08,-0.20,-0.20,3465000000,3465000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
24,0,1995-09-29,AAPL,1995-12-19 00:00:00,1995-12-19 00:00:00,FY,11062000000,8204000000,2858000000,0.26,...,0.06,250000000.00,424000000,0.04,0.12,0.12,3445000000,3445000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
25,0,1994-09-30,AAPL,1994-12-13 00:00:00,1994-12-13 00:00:00,FY,9189000000,6845000000,2344000000,0.26,...,0.05,190000000.00,310000000,0.03,0.07,0.07,3325000000,3325000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
26,0,1993-09-24,AAPL,NaN,NaN,FY,7977000000,5249000000,2728000000,0.34,...,0.02,53000000.00,87000000,0.01,0.09,0.09,3340000000,3340000000,NaN,NaN
27,0,1992-09-25,AAPL,NaN,NaN,FY,7087000000,3991000000,3095000000,0.44,...,0.12,325000000.00,530000000,0.07,0.15,0.15,3430000000,3430000000,NaN,NaN
28,0,1991-09-27,AAPL,NaN,NaN,FY,6309000000,3314000000,2995000000,0.47,...,0.08,190000000.00,310000000,0.05,0.13,0.13,3368000000,3368000000,NaN,NaN
29,0,1990-09-28,AAPL,NaN,NaN,FY,5558000000,2606000000,2952000000,0.53,...,0.14,304000000.00,475000000,0.09,0.14,0.14,3523000000,3523000000,NaN,NaN
30,0,1989-09-29,AAPL,NaN,NaN,FY,5284000000,2695000000,2589000000,0.49,...,0.14,290000000.00,454000000,0.09,0.13,0.13,3603000000,3603000000,NaN,NaN
31,0,1988-09-30,AAPL,NaN,NaN,FY,4071000000,1991000000,2080000000,0.51,...,0.16,256000000.00,400000000,0.10,0.11,0.11,3637000000,3637000000,NaN,NaN
32,0,1987-09-25,AAPL,NaN,NaN,FY,2661000000,1296000000,1365000000,0.51,...,0.15,193000000.00,217000000,0.08,0.06,0.06,3685000000,3685000000,NaN,NaN
33,0,1986-09-26,AAPL,NaN,NaN,FY,1902000000,891000000,1011000000,0.53,...,0.16,156000000.00,154000000,0.08,0.04,0.04,3602000000,3602000000,NaN,NaN
34,0,1985-09-27,AAPL,NaN,NaN,FY,1918000000,1118000000,800000000,0.42,...,0.06,59000000.00,61000000,0.03,0.02,0.02,3466000000,3466000000,NaN,NaN
35,0,1984-09-28,AAPL,NaN,NaN,FY,1516000000,879000000,637000000,0.42,...,0.07,45000000.00,64000000,0.04,0.02,0.02,3410000000,3410000000,NaN,NaN
36,0,1983-09-30,AAPL,NaN,NaN,FY,983000000,506000000,477000000,0.49,...,0.15,69000000.00,77000000,0.08,0.02,0.02,3353000000,3353000000,NaN,NaN

In [2]:
tables = FS("IS","AAPL","year").df_values()['df_table']
table_pct = FS("IS","AAPL","year").df_values()['df_table_pct'] 
df_date = FS("IS","AAPL","year").df_values()['chart_x_dates'] 
df_rev = FS("IS","AAPL","year").df_values()['chart_y_revenue']
df_json = FS("IS","AAPL","year").df_values()['df_json']
df_titles = FS("IS","AAPL","year").df_values()['df_titles']
df_price = FS("IS","AAPL","year").df_price()
df_labels = FS("IS","AAPL","year").df_labels()
df_raw = FS("IS","AAPL","year").df_raw()
df_table = FS("IS","AAPL","year").df_table()
first = FS("IS","AAPL","year").first()
last = FS("IS","AAPL","year").last()
df_pre_html = FS("IS","AAPL","year").df_pre_html()

In [3]:
tables = FS("IS","AAPL","quarter").df_values()['df_table']
table_pct = FS("IS","AAPL","quarter").df_values()['df_table_pct'] 
df_date = FS("IS","AAPL","quarter").df_values()['chart_x_dates'] 
df_rev = FS("IS","AAPL","quarter").df_values()['chart_y_revenue']
df_json = FS("IS","AAPL","quarter").df_values()['df_json']
df_titles = FS("IS","AAPL","quarter").df_values()['df_titles']
df_price = FS("IS","AAPL","quarter").df_price()
df_labels = FS("IS","AAPL","quarter").df_labels()
df_raw = FS("IS","AAPL","quarter").df_raw()
df_table = FS("IS","AAPL","quarter").df_table()
first = FS("IS","AAPL","quarter").first()
last = FS("IS","AAPL","quarter").last()
df_pre_html = FS("IS","AAPL","quarter").df_pre_html()

In [5]:
table_pct

['<table class="df_tableBoot" id="df_myTable1" border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th></th>\n      <th>FY 1983</th>\n      <th>FY 1984</th>\n      <th>FY 1985</th>\n      <th>FY 1986</th>\n      <th>FY 1987</th>\n      <th>FY 1988</th>\n      <th>FY 1989</th>\n      <th>FY 1990</th>\n      <th>FY 1991</th>\n      <th>FY 1992</th>\n      <th>FY 1993</th>\n      <th>FY 1994</th>\n      <th>FY 1995</th>\n      <th>FY 1996</th>\n      <th>FY 1997</th>\n      <th>FY 1998</th>\n      <th>FY 1999</th>\n      <th>FY 2000</th>\n      <th>FY 2001</th>\n      <th>FY 2002</th>\n      <th>FY 2003</th>\n      <th>FY 2004</th>\n      <th>FY 2005</th>\n      <th>FY 2006</th>\n      <th>FY 2007</th>\n      <th>FY 2008</th>\n      <th>FY 2009</th>\n      <th>FY 2010</th>\n      <th>FY 2011</th>\n      <th>FY 2012</th>\n      <th>FY 2013</th>\n      <th>FY 2014</th>\n      <th>FY 2015</th>\n      <th>FY 2016</th>\n      <th>FY 2017</th>\n      <th>FY 2018</th>\n      <th>FY 2019</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Quarter &amp; Year</td>\n      <td>FY 1983</td>\n      <td>FY 1984</td>\n      <td>FY 1985</td>\n      <td>FY 1986</td>\n      <td>FY 1987</td>\n      <td>FY 1988</td>\n      <td>FY 1989</td>\n      <td>FY 1990</td>\n      <td>FY 1991</td>\n      <td>FY 1992</td>\n      <td>FY 1993</td>\n      <td>FY 1994</td>\n      <td>FY 1995</td>\n      <td>FY 1996</td>\n      <td>FY 1997</td>\n      <td>FY 1998</td>\n      <td>FY 1999</td>\n      <td>FY 2000</td>\n      <td>FY 2001</td>\n      <td>FY 2002</td>\n      <td>FY 2003</td>\n      <td>FY 2004</td>\n      <td>FY 2005</td>\n      <td>FY 2006</td>\n      <td>FY 2007</td>\n      <td>FY 2008</td>\n      <td>FY 2009</td>\n      <td>FY 2010</td>\n      <td>FY 2011</td>\n      <td>FY 2012</td>\n      <td>FY 2013</td>\n      <td>FY 2014</td>\n      <td>FY 2015</td>\n      <td>FY 2016</td>\n      <td>FY 2017</td>\n      <td>FY 2018</td>\n      <td>FY 2019</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Revenue (Sales)</td>\n      <td>-0.35</td>\n      <td>-0.21</td>\n      <td>0.01</td>\n      <td>-0.29</td>\n      <td>-0.35</td>\n      <td>-0.23</td>\n      <td>-0.05</td>\n      <td>-0.12</td>\n      <td>-0.11</td>\n      <td>-0.11</td>\n      <td>-0.13</td>\n      <td>-0.17</td>\n      <td>0.12</td>\n      <td>0.39</td>\n      <td>0.19</td>\n      <td>-0.03</td>\n      <td>-0.23</td>\n      <td>0.49</td>\n      <td>-0.07</td>\n      <td>-0.07</td>\n      <td>-0.25</td>\n      <td>-0.41</td>\n      <td>-0.28</td>\n      <td>-0.20</td>\n      <td>-0.26</td>\n      <td>-0.24</td>\n      <td>-0.34</td>\n      <td>-0.40</td>\n      <td>-0.31</td>\n      <td>-0.08</td>\n      <td>-0.07</td>\n      <td>-0.22</td>\n      <td>0.08</td>\n      <td>-0.06</td>\n      <td>-0.14</td>\n      <td>0.02</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Cost of Revenue (Sales)</td>\n      <td>-0.42</td>\n      <td>-0.21</td>\n      <td>0.25</td>\n      <td>-0.31</td>\n      <td>-0.35</td>\n      <td>-0.26</td>\n      <td>0.03</td>\n      <td>-0.21</td>\n      <td>-0.17</td>\n      <td>-0.24</td>\n      <td>-0.23</td>\n      <td>-0.17</td>\n      <td>-0.07</td>\n      <td>0.55</td>\n      <td>0.28</td>\n      <td>0.01</td>\n      <td>-0.24</td>\n      <td>0.41</td>\n      <td>-0.00</td>\n      <td>-0.08</td>\n      <td>-0.25</td>\n      <td>-0.39</td>\n      <td>-0.28</td>\n      <td>-0.13</td>\n      <td>-0.26</td>\n      <td>-0.17</td>\n      <td>-0.35</td>\n      <td>-0.39</td>\n      <td>-0.27</td>\n      <td>-0.18</td>\n      <td>-0.05</td>\n      <td>-0.20</td>\n      <td>0.07</td>\n      <td>-0.07</td>\n      <td>-0.14</td>\n      <td>0.01</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Gross Profit (Income)</td>\n      <td>-0.25</td>\n      <td>-0.20</td>\n      <td>-0.21</td>\n      <td>-0.26</td>\n      <td>-0.34</td>\n      <td>-0.20</td>\n      <td>-0.12</td>\n      <td>-0.01</td>\n      <td>-0.03</td>\n      <td>0.13</td>\n      <td>0.16</td>\n      <td>-0.18</td>\n      <td>1.95</td>\n      <td>-0.29</td>\n      <td>-0.08</td>\n      <td>-0.13</td>\n      <td>-0.22</td>\n      <td>0.75</td>\n      <td>-0.23</td>\n      <td>-0.06</td>\n      <td>-0.24</td>\n      <td>-0.44</td>\n      <td>-0.28</td>\n      <td>-0.31</td>\n      <td>-0.27</td>\n      <td>-0.35</td>\n      <td>-0.33</td>\n      <td>-0.41</td>\n      <td>-0.36</td>\n      <td>0.07</td>\n      <td>-0.09</td>\n      <td>-0.25</td>\n      <td>0.11</td>\n      <td>-0.04</td>\n      <td>-0.13</td>\n      <td>0.04</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Gross Profit (Income) Ratio</td>\n      <td>0.15</td>\n      <td>0.01</td>\n      <td>-0.22</td>\n      <td>0.04</td>\n      <td>0.00</td>\n      <td>0.04</td>\n      <td>-0.08</td>\n      <td>0.12</td>\n      <td>0.09</td>\n      <td>0.28</td>\n      <td>0.34</td>\n      <td>-0.01</td>\n      <td>1.62</td>\n      <td>-0.49</td>\n      <td>-0.22</td>\n      <td>-0.10</td>\n      <td>0.02</td>\n      <td>0.18</td>\n      <td>-0.18</td>\n      <td>0.01</td>\n      <td>0.01</td>\n      <td>-0.06</td>\n      <td>0.00</td>\n      <td>-0.15</td>\n      <td>-0.01</td>\n      <td>-0.15</td>\n      <td>0.02</td>\n      <td>-0.03</td>\n      <td>-0.08</td>\n      <td>0.17</td>\n      <td>-0.02</td>\n      <td>-0.04</td>\n      <td>0.03</td>\n      <td>0.02</td>\n      <td>0.00</td>\n      <td>0.01</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Research and Development (R&amp;D) Expenses</td>\n      <td>-0.15</td>\n      <td>-0.03</td>\n      <td>-0.43</td>\n      <td>-0.33</td>\n      <td>-0.30</td>\n      <td>-0.35</td>\n      <td>-0.12</td>\n      <td>-0.18</td>\n      <td>-0.03</td>\n      <td>-0.09</td>\n      <td>0.18</td>\n      <td>-0.08</td>\n      <td>0.02</td>\n      <td>0.25</td>\n      <td>0.60</td>\n      <td>-0.04</td>\n      <td>-0.17</td>\n      <td>-0.12</td>\n      <td>-0.04</td>\n      <td>-0.05</td>\n      <td>-0.04</td>\n      <td>-0.08</td>\n      <td>-0.25</td>\n      <td>-0.09</td>\n      <td>-0.29</td>\n      <td>-0.17</td>\n      <td>-0.25</td>\n      <td>-0.27</td>\n      <td>-0.28</td>\n      <td>-0.24</td>\n      <td>-0.26</td>\n      <td>-0.25</td>\n      <td>-0.20</td>\n      <td>-0.13</td>\n      <td>-0.19</td>\n      <td>-0.12</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Sales, General and Administrative (SG&amp;A) Expenses</td>\n      <td>-0.40</td>\n      <td>-0.18</td>\n      <td>-0.03</td>\n      <td>-0.24</td>\n      <td>-0.32</td>\n      <td>-0.23</td>\n      <td>-0.11</td>\n      <td>-0.01</td>\n      <td>0.03</td>\n      <td>0.03</td>\n      <td>0.18</td>\n      <td>-0.13</td>\n      <td>0.01</td>\n      <td>0.22</td>\n      <td>0.42</td>\n      <td>-0.09</td>\n      <td>-0.21</td>\n      <td>0.10</td>\n      <td>0.03</td>\n      <td>-0.08</td>\n      <td>-0.15</td>\n      <td>-0.24</td>\n      <td>-0.24</td>\n      <td>-0.18</td>\n      <td>-0.21</td>\n      <td>-0.09</td>\n      <td>-0.25</td>\n      <td>-0.27</td>\n      <td>-0.24</td>\n      <td>-0.07</td>\n      <td>-0.10</td>\n      <td>-0.16</td>\n      <td>0.01</td>\n      <td>-0.07</td>\n      <td>-0.09</td>\n      <td>-0.08</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>Other Expenses</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>-1.00</td>\n      <td>-0.62</td>\n      <td>0.12</td>\n      <td>0.13</td>\n      <td>-0.86</td>\n      <td>0.00</td>\n      <td>-0.72</td>\n      <td>-0.03</td>\n      <td>0.90</td>\n      <td>1.10</td>\n      <td>-0.63</td>\n      <td>-0.20</td>\n      <td>-0.55</td>\n      <td>0.18</td>\n      <td>-0.24</td>\n      <td>-0.05</td>\n      <td>-0.51</td>\n      <td>inf</td>\n      <td>-1.00</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Operating Expenses</td>\n      <td>-0.37</td>\n      <td>-0.21</td>\n      <td>-0.05</td>\n      <td>-0.26</td>\n      <td>-0.32</td>\n      <td>-0.25</td>\n      <td>-0.13</td>\n      <td>-0.12</td>\n      <td>0.11</td>\n      <td>-0.13</td>\n      <td>0.44</td>\n      <td>-0.16</td>\n      <td>-0.08</td>\n      <td>-0.04</td>\n      <td>1.00</td>\n      <td>-0.09</td>\n      <td>-0.19</td>\n      <td>0.04</td>\n      <td>-0.00</td>\n      <td>-0.07</td>\n      <td>-0.12</td>\n      <td>-0.19</td>\n      <td>-0.24</td>\n      <td>-0.16</td>\n      <td>-0.23</td>\n      <td>-0.11</td>\n      <td>-0.25</td>\n      <td>-0.27</td>\n      <td>-0.25</td>\n      <td>-0.12</td>\n      <td>-0.15</td>\n      <td>-0.19</td>\n      <td>-0.08</td>\n      <td>-0.10</td>\n      <td>-0.13</td>\n      <td>-0.10</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>Cost and Expenses</td>\n      <td>-0.40</td>\n      <td>-0.21</td>\n      <td>0.12</td>\n      <td>-0.29</td>\n      <td>-0.34</td>\n      <td>-0.26</td>\n      <td>-0.04</td>\n      <td>-0.17</td>\n      <td>-0.07</td>\n      <td>-0.20</td>\n      <td>-0.09</td>\n      <td>-0.16</td>\n      <td>-0.07</td>\n      <td>0.38</td>\n      <td>0.44</td>\n      <td>-0.02</td>\n      <td>-0.23</td>\n      <td>0.31</td>\n      <td>-0.00</td>\n      <td>-0.08</td>\n      <td>-0.22</td>\n      <td>-0.35</td>\n      <td>-0.27</td>\n      <td>-0.14</td>\n      <td>-0.25</td>\n      <td>-0.16</td>\n      <td>-0.33</td>\n      <td>-0.37</td>\n      <td>-0.26</td>\n      <td>-0.17</td>\n      <td>-0.06</td>\n      <td>-0.20</td>\n      <td>0.04</td>\n      <td>-0.07</td>\n      <td>-0.14</td>\n      <td>-0.01</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>10</th>\n      <td>Interest Expense</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>-1.00</td>\n      <td>0.09</td>\n      <td>13.50</td>\n      <td>-0.92</td>\n      <td>inf</td>\n      <td>-1.00</td>\n      <td>-0.86</td>\n      <td>-0.76</td>\n      <td>-0.41</td>\n      <td>1.01</td>\n      <td>3.26</td>\n      <td>-0.29</td>\n      <td>0.39</td>\n      <td>-0.64</td>\n      <td>-0.54</td>\n      <td>-0.39</td>\n      <td>-0.01</td>\n      <td>0.60</td>\n      <td>0.31</td>\n      <td>-0.40</td>\n      <td>-0.52</td>\n      <td>7.00</td>\n      <td>-0.65</td>\n      <td>-0.48</td>\n      <td>-0.50</td>\n      <td>-0.37</td>\n      <td>-0.28</td>\n      <td>-0.09</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>11</th>\n      <td>Depreciation and Amortization (D&amp;A)</td>\n      <td>NaN</td>\n      <td>-1.00</td>\n      <td>-0.18</td>\n      <td>-0.28</td>\n      <td>-0.09</td>\n      <td>-0.38</td>\n      <td>-0.38</td>\n      <td>-0.00</td>\n      <td>-0.06</td>\n      <td>0.31</td>\n      <td>-0.01</td>\n      <td>0.32</td>\n      <td>-0.19</td>\n      <td>0.32</td>\n      <td>0.06</td>\n      <td>0.31</td>\n      <td>0.01</td>\n      <td>-0.16</td>\n      <td>-0.12</td>\n      <td>0.01</td>\n      <td>-0.25</td>\n      <td>-0.16</td>\n      <td>-0.20</td>\n      <td>-0.29</td>\n      <td>-0.33</td>\n      <td>-0.36</td>\n      <td>-0.29</td>\n      <td>-0.43</td>\n      <td>-0.45</td>\n      <td>-0.52</td>\n      <td>-0.15</td>\n      <td>-0.29</td>\n      <td>0.07</td>\n      <td>0.03</td>\n      <td>-0.07</td>\n      <td>-0.13</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>12</th>\n      <td>EBITDA</td>\n      <td>0.34</td>\n      <td>-0.33</td>\n      <td>-0.55</td>\n      <td>-0.25</td>\n      <td>-0.34</td>\n      <td>-0.16</td>\n      <td>-0.12</td>\n      <td>0.39</td>\n      <td>-0.38</td>\n      <td>2.12</td>\n      <td>-0.46</td>\n      <td>-0.21</td>\n      <td>-1.75</td>\n      <td>0.24</td>\n      <td>-2.77</td>\n      <td>-0.52</td>\n      <td>-0.37</td>\n      <td>4.14</td>\n      <td>0.27</td>\n      <td>-0.11</td>\n      <td>-0.50</td>\n      <td>-0.72</td>\n      <td>-0.37</td>\n      <td>-0.42</td>\n      <td>-0.26</td>\n      <td>-0.39</td>\n      <td>-0.34</td>\n      <td>-0.46</td>\n      <td>-0.39</td>\n      <td>0.05</td>\n      <td>-0.08</td>\n      <td>-0.27</td>\n      <td>0.15</td>\n      <td>-0.04</td>\n      <td>-0.10</td>\n      <td>0.05</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>13</th>\n      <td>EBITDA Ratio</td>\n      <td>1.07</td>\n      <td>-0.15</td>\n      <td>-0.55</td>\n      <td>0.05</td>\n      <td>0.00</td>\n      <td>0.10</td>\n      <td>-0.07</td>\n      <td>0.58</td>\n      <td>-0.30</td>\n      <td>2.51</td>\n      <td>-0.38</td>\n      <td>-0.05</td>\n      <td>-1.67</td>\n      <td>-0.10</td>\n      <td>-2.48</td>\n      <td>-0.51</td>\n      <td>-0.18</td>\n      <td>2.45</td>\n      <td>0.36</td>\n      <td>-0.04</td>\n      <td>-0.34</td>\n      <td>-0.54</td>\n      <td>-0.12</td>\n      <td>-0.28</td>\n      <td>0.01</td>\n      <td>-0.20</td>\n      <td>0.01</td>\n      <td>-0.10</td>\n      <td>-0.12</td>\n      <td>0.15</td>\n      <td>-0.01</td>\n      <td>-0.06</td>\n      <td>0.06</td>\n      <td>0.02</td>\n      <td>0.04</td>\n      <td>0.02</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>14</th>\n      <td>Operating Income</td>\n      <td>0.51</td>\n      <td>-0.17</td>\n      <td>-0.62</td>\n      <td>-0.26</td>\n      <td>-0.40</td>\n      <td>-0.02</td>\n      <td>-0.11</td>\n      <td>0.59</td>\n      <td>-0.45</td>\n      <td>6.33</td>\n      <td>-0.79</td>\n      <td>-0.24</td>\n      <td>-1.49</td>\n      <td>0.29</td>\n      <td>-5.10</td>\n      <td>-0.27</td>\n      <td>-0.31</td>\n      <td>-2.52</td>\n      <td>-21.24</td>\n      <td>-18.00</td>\n      <td>-1.00</td>\n      <td>-0.80</td>\n      <td>-0.33</td>\n      <td>-0.44</td>\n      <td>-0.30</td>\n      <td>-0.47</td>\n      <td>-0.36</td>\n      <td>-0.46</td>\n      <td>-0.39</td>\n      <td>0.13</td>\n      <td>-0.07</td>\n      <td>-0.26</td>\n      <td>0.19</td>\n      <td>-0.02</td>\n      <td>-0.13</td>\n      <td>0.11</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>15</th>\n      <td>Operating Income Ratio</td>\n      <td>1.33</td>\n      <td>0.06</td>\n      <td>-0.63</td>\n      <td>0.03</td>\n      <td>-0.08</td>\n      <td>0.27</td>\n      <td>-0.06</td>\n      <td>0.81</td>\n      <td>-0.38</td>\n      <td>7.25</td>\n      <td>-0.76</td>\n      <td>-0.08</td>\n      <td>-1.44</td>\n      <td>-0.07</td>\n      <td>-4.44</td>\n      <td>-0.25</td>\n      <td>-0.10</td>\n      <td>-2.02</td>\n      <td>-22.66</td>\n      <td>-19.39</td>\n      <td>-1.00</td>\n      <td>-0.67</td>\n      <td>-0.07</td>\n      <td>-0.31</td>\n      <td>-0.05</td>\n      <td>-0.29</td>\n      <td>-0.03</td>\n      <td>-0.10</td>\n      <td>-0.12</td>\n      <td>0.23</td>\n      <td>-0.00</td>\n      <td>-0.06</td>\n      <td>0.09</td>\n      <td>0.04</td>\n      <td>0.00</td>\n      <td>0.09</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>16</th>\n      <td>Total Other Income Expenses (Net)</td>\n      <td>-0.30</td>\n      <td>0.35</td>\n      <td>-0.53</td>\n      <td>-0.08</td>\n      <td>0.08</td>\n      <td>-0.67</td>\n      <td>0.64</td>\n      <td>0.29</td>\n      <td>-5.00</td>\n      <td>-0.55</td>\n      <td>0.12</td>\n      <td>-0.58</td>\n      <td>-1.70</td>\n      <td>5.29</td>\n      <td>-2.40</td>\n      <td>0.00</td>\n      <td>-1.71</td>\n      <td>-0.07</td>\n      <td>2.00</td>\n      <td>4.00</td>\n      <td>-1.11</td>\n      <td>-0.50</td>\n      <td>-0.38</td>\n      <td>-0.40</td>\n      <td>0.45</td>\n      <td>-0.59</td>\n      <td>-0.48</td>\n      <td>0.50</td>\n      <td>-0.82</td>\n      <td>22.58</td>\n      <td>-0.92</td>\n      <td>-0.66</td>\n      <td>-0.24</td>\n      <td>7.98</td>\n      <td>-0.70</td>\n      <td>-2.05</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>17</th>\n      <td>Income Before Tax</td>\n      <td>0.34</td>\n      <td>-0.09</td>\n      <td>-0.61</td>\n      <td>-0.24</td>\n      <td>-0.38</td>\n      <td>-0.12</td>\n      <td>-0.04</td>\n      <td>0.56</td>\n      <td>-0.42</td>\n      <td>5.11</td>\n      <td>-0.72</td>\n      <td>-0.26</td>\n      <td>-1.52</td>\n      <td>0.24</td>\n      <td>-4.18</td>\n      <td>-0.51</td>\n      <td>-0.38</td>\n      <td>-22.00</td>\n      <td>-1.60</td>\n      <td>-0.05</td>\n      <td>-0.76</td>\n      <td>-0.79</td>\n      <td>-0.36</td>\n      <td>-0.44</td>\n      <td>-0.27</td>\n      <td>-0.43</td>\n      <td>-0.35</td>\n      <td>-0.46</td>\n      <td>-0.39</td>\n      <td>0.11</td>\n      <td>-0.06</td>\n      <td>-0.26</td>\n      <td>0.18</td>\n      <td>-0.04</td>\n      <td>-0.12</td>\n      <td>0.11</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>18</th>\n      <td>Income Before Tax Ratio</td>\n      <td>1.07</td>\n      <td>0.15</td>\n      <td>-0.62</td>\n      <td>0.06</td>\n      <td>-0.04</td>\n      <td>0.14</td>\n      <td>0.00</td>\n      <td>0.77</td>\n      <td>-0.34</td>\n      <td>5.87</td>\n      <td>-0.68</td>\n      <td>-0.11</td>\n      <td>-1.46</td>\n      <td>-0.11</td>\n      <td>-3.66</td>\n      <td>-0.50</td>\n      <td>-0.19</td>\n      <td>-15.11</td>\n      <td>-1.64</td>\n      <td>0.02</td>\n      <td>-0.68</td>\n      <td>-0.64</td>\n      <td>-0.11</td>\n      <td>-0.30</td>\n      <td>-0.02</td>\n      <td>-0.25</td>\n      <td>-0.01</td>\n      <td>-0.10</td>\n      <td>-0.11</td>\n      <td>0.21</td>\n      <td>0.00</td>\n      <td>-0.06</td>\n      <td>0.09</td>\n      <td>0.02</td>\n      <td>0.02</td>\n      <td>0.09</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>19</th>\n      <td>Income Tax Expense</td>\n      <td>0.53</td>\n      <td>-0.24</td>\n      <td>-0.62</td>\n      <td>-0.19</td>\n      <td>-0.25</td>\n      <td>-0.12</td>\n      <td>-0.05</td>\n      <td>0.60</td>\n      <td>-0.42</td>\n      <td>5.13</td>\n      <td>-0.72</td>\n      <td>-0.24</td>\n      <td>-1.52</td>\n      <td>-inf</td>\n      <td>-1.00</td>\n      <td>-0.73</td>\n      <td>-0.75</td>\n      <td>-21.40</td>\n      <td>-1.68</td>\n      <td>-0.08</td>\n      <td>-0.78</td>\n      <td>-0.78</td>\n      <td>-0.42</td>\n      <td>-0.45</td>\n      <td>-0.27</td>\n      <td>-0.46</td>\n      <td>-0.15</td>\n      <td>-0.45</td>\n      <td>-0.41</td>\n      <td>0.07</td>\n      <td>-0.06</td>\n      <td>-0.27</td>\n      <td>0.22</td>\n      <td>-0.00</td>\n      <td>0.33</td>\n      <td>0.13</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>20</th>\n      <td>Net Income</td>\n      <td>0.20</td>\n      <td>0.05</td>\n      <td>-0.60</td>\n      <td>-0.29</td>\n      <td>-0.46</td>\n      <td>-0.12</td>\n      <td>-0.04</td>\n      <td>0.53</td>\n      <td>-0.42</td>\n      <td>5.09</td>\n      <td>-0.72</td>\n      <td>-0.27</td>\n      <td>-1.52</td>\n      <td>-0.22</td>\n      <td>-4.38</td>\n      <td>-0.49</td>\n      <td>-0.24</td>\n      <td>-32.44</td>\n      <td>-1.38</td>\n      <td>-0.06</td>\n      <td>-0.75</td>\n      <td>-0.79</td>\n      <td>-0.33</td>\n      <td>-0.43</td>\n      <td>-0.28</td>\n      <td>-0.41</td>\n      <td>-0.41</td>\n      <td>-0.46</td>\n      <td>-0.38</td>\n      <td>0.13</td>\n      <td>-0.06</td>\n      <td>-0.26</td>\n      <td>0.17</td>\n      <td>-0.06</td>\n      <td>-0.19</td>\n      <td>0.08</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>21</th>\n      <td>Net Income Ratio</td>\n      <td>0.86</td>\n      <td>0.33</td>\n      <td>-0.61</td>\n      <td>-0.01</td>\n      <td>-0.17</td>\n      <td>0.14</td>\n      <td>0.01</td>\n      <td>0.74</td>\n      <td>-0.34</td>\n      <td>5.86</td>\n      <td>-0.68</td>\n      <td>-0.12</td>\n      <td>-1.46</td>\n      <td>-0.44</td>\n   

In [17]:
list(df_table)

['Date',
 'Quarter & Year',
 'Revenue (Sales)',
 'Cost of Revenue (Sales)',
 'Gross Profit (Income)',
 'Gross Profit (Income) Ratio',
 'Research and Development (R&D) Expenses',
 'Sales, General and Administrative (SG&A) Expenses',
 'Other Expenses',
 'Operating Expenses',
 'Cost and Expenses',
 'Interest Expense',
 'Depreciation and Amortization (D&A)',
 'EBITDA',
 'EBITDA Ratio',
 'Operating Income',
 'Operating Income Ratio',
 'Total Other Income Expenses (Net)',
 'Income Before Tax',
 'Income Before Tax Ratio',
 'Income Tax Expense',
 'Net Income',
 'Net Income Ratio',
 'EPS',
 'EPS Diluted',
 'Weighted Average Shares Outstanding',
 'Weighted Average Shares Outstanding (Diluted)',
 'SEC Filing',
 'Date & Time Filing Accepted']

explain how CoR diff from CoGs

In [ ]:
df_table[['Date',
 'Quarter & Year',
 'Revenue (Sales)',
 'Cost of Revenue (Sales)',
 'Gross Profit (Income)',
 'Gross Profit (Income) Ratio',
 'Research and Development (R&D) Expenses',
 'Sales, General and Administrative (SG&A) Expenses',
 'Other Expenses',
 'Operating Expenses',
 'Cost and Expenses',
 'Interest Expense',
 'Depreciation and Amortization (D&A)',
 'EBITDA',
 'EBITDA Ratio',
 'Operating Income',
 'Operating Income Ratio',
 'Total Other Income Expenses (Net)',
 'Income Before Tax',
 'Income Before Tax Ratio',
 'Income Tax Expense',
 'Net Income',
 'Net Income Ratio',
 'EPS',
 'EPS Diluted',
 'Weighted Average Shares Outstanding',
 'Weighted Average Shares Outstanding (Diluted)',
 'SEC Filing',
 'Date & Time Filing Accepted']]

In [9]:
df_table[[
 'Quarter & Year',
 'Revenue (Sales)',
 'Cost of Revenue (Sales)',
 'Gross Profit (Income)',
 'Gross Profit (Income) Ratio',
 'Research and Development (R&D) Expenses',
 'Sales, General and Administrative (SG&A) Expenses',
 'Other Expenses',
 'Operating Expenses',
 'Cost and Expenses',
 'Interest Expense',
 'Depreciation and Amortization (D&A)',
 'Operating Income',
'Total Other Income Expenses (Net)']]

,Quarter & Year,Revenue (Sales),Cost of Revenue (Sales),Gross Profit (Income),Gross Profit (Income) Ratio,Research and Development (R&D) Expenses,"Sales, General and Administrative (SG&A) Expenses",Other Expenses,Operating Expenses,Cost and Expenses,Interest Expense,Depreciation and Amortization (D&A),Operating Income,Total Other Income Expenses (Net)
36,FY 1983,983000000,506000000,477000000,0.49,60000000,287000000,0.00,347000000,853000000,0.00,0.00,130000000.00,16000000.00
35,FY 1984,1516000000,879000000,637000000,0.42,71000000,480000000,0.00,551000000,1430000000,0.00,0.00,86000000.00,23000000.00
34,FY 1985,1918000000,1118000000,800000000,0.42,73000000,588000000,0.00,698000000,1816000000,0.00,42000000.00,103000000.00,17000000.00
33,FY 1986,1902000000,891000000,1011000000,0.53,128000000,609000000,0.00,737000000,1628000000,0.00,51000000.00,274000000.00,36000000.00
32,FY 1987,2661000000,1296000000,1365000000,0.51,192000000,802000000,0.00,994000000,2290000000,0.00,71000000.00,371000000.00,39000000.00
31,FY 1988,4071000000,1991000000,2080000000,0.51,273000000,1188000000,0.00,1460000000,3451000000,0.00,78000000.00,620000000.00,36000000.00
30,FY 1989,5284000000,2695000000,2589000000,0.49,420000000,1535000000,0.00,1955000000,4650000000,0.00,125000000.00,634000000.00,110000000.00
29,FY 1990,5558000000,2606000000,2952000000,0.53,478000000,1729000000,0.00,2240000000,4846000000,0.00,203000000.00,712000000.00,67000000.00
28,FY 1991,6309000000,3314000000,2995000000,0.47,583000000,1740000000,0.00,2548000000,5862000000,0.00,204000000.00,447000000.00,52000000.00
27,FY 1992,7087000000,3991000000,3095000000,0.44,602000000,1687000000,0.00,2290000000,6281000000,63000000.00,217000000.00,806000000.00,-13000000.00
26,FY 1993,7977000000,5249000000,2728000000,0.34,665000000,1632000000,0.00,2618000000,7867000000,58000000.00,166000000.00,110000000.00,-29000000.00
25,FY 1994,9189000000,6845000000,2344000000,0.26,564000000,1384000000,0.00,1821000000,8666000000,4000000.00,168000000.00,522000000.00,-26000000.00
24,FY 1995,11062000000,8204000000,2858000000,0.26,614000000,1583000000,0.00,2174000000,10378000000,52000000.00,127000000.00,684000000.00,-62000000.00
23,FY 1996,9833000000,8865000000,968000000,0.10,604000000,1568000000,0.00,2351000000,11216000000,0.00,156000000.00,-1383000000.00,88000000.00
22,FY 1997,7081000000,5713000000,1368000000,0.19,485000000,1286000000,0.00,2438000000,8151000000,11000000.00,118000000.00,-1070000000.00,14000000.00
21,FY 1998,5941000000,4462000000,1479000000,0.25,303000000,908000000,0.00,1218000000,5680000000,78000000.00,111000000.00,261000000.00,-10000000.00
20,FY 1999,6134000000,4438000000,1696000000,0.28,314000000,996000000,0.00,1337000000,5775000000,327000000.00,85000000.00,359000000.00,-10000000.00
19,FY 2000,7983000000,5817000000,2166000000,0.27,380000000,1256000000,0.00,1644000000,7461000000,556000000.00,84000000.00,522000000.00,14000000.00
18,FY 2001,5363000000,4128000000,1235000000,0.23,430000000,1138000000,11000000.00,1579000000,5707000000,277000000.00,100000000.00,-344000000.00,15000000.00
17,FY 2002,5742000000,4139000000,1603000000,0.28,446000000,1109000000,29000000.00,1586000000,5725000000,65000000.00,114000000.00,17000000.00,5000000.00
16,FY 2003,6207000000,4499000000,1708000000,0.28,471000000,1212000000,26000000.00,1709000000,6208000000,92000000.00,113000000.00,-1000000.00,1000000.00
15,FY 2004,8279000000,6020000000,2259000000,0.27,489000000,1421000000,23000000.00,1933000000,7953000000,66000000.00,150000000.00,326000000.00,-9000000.00
14,FY 2005,13931000000,9888000000,4043000000,0.29,534000000,1859000000,165000000.00,2393000000,12281000000,183000000.00,179000000.00,1650000000.00,-18000000.00
13,FY 2006,19315000000,13717000000,5598000000,0.29,712000000,2433000000,165000000.00,3145000000,16862000000,394000000.00,225000000.00,2453000000.00,-29000000.00
12,FY 2007,24006000000,15852000000,8154000000,0.34,782000000,2963000000,599000000.00,3745000000,19597000000,647000000.00,317000000.00,4409000000.00,-48000000.00
11,FY 2008,32479000000,21334000000,11145000000,0.34,1109000000,3761000000,620000000.00,4870000000,26204000000,653000000.00,473000000.00,6275000000.00,-33000000.00
10,FY 2009,42905000000,25683000000,17222000000,0.40,1333000000,4149000000,326000000.00,5482000000,31165000000,407000000.00,734000000.00,11740000000.00,-81000000.00
9,FY 2010,65225000000,39541000000,25684000000,0.39,1782000000,5517000000,155000000.00,7299000000,46840000000,311000000.00,1027000000.00,18385000000.00,-156000000.00
8,FY 2011,108249000000,64431000000,43818000000,0.40,2429000000,7599000000,415000000.00,10028000000,74459000000,519000000.00,1814000000.00,33790000000.00,-104000000.00
7,FY 2012,156508000000,87846000000,68662000000,0.44,3381000000,10040000000,522000000.00,13421000000,101267000000,1088000000.00,3277000000.00,55241000000.00,-566000000.00
6,FY 2013,170910000000,106606000000,64304000000,0.38,4475000000,10830000000,1156000000.00,15305000000,121911000000,136000000.00,6757000000.00,48999000000.00,-24000000.00
5,FY 2014,182795000000,112258000000,70537000000,0.39,6041000000,11993000000,980000000.00,18034000000,130292000000,384000000.00,7946000000.00,52503000000.00,-311000000.00
4,FY 2015,233715000000,140089000000,93626000000,0.40,8067000000,14329000000,1285000000.00,22396000000,162485000000,733000000.00,11257000000.00,71230000000.00,-903000000.00
3,FY 2016,215639000000,131376000000,84263000000,0.39,10045000000,14194000000,1348000000.00,24239000000,155615000000,1456000000.00,10505000000.00,60024000000.00,-1195000000.00
2,FY 2017,229234000000,141048000000,88186000000,0.38,11581000000,15261000000,2745000000.00,26842000000,167890000000,2323000000.00,10157000000.00,61344000000.00,-133000000.00
1,FY 2018,265595000000,163756000000,101839000000,0.38,14236000000,16705000000,0.00,30941000000,194697000000,3240000000.00,10903000000.00,70898000000.00,-441000000.00
0,FY 2019,260174000000,161782000000,98392000000,0.38,16217000000,18245000000,1807000000.00,34462000000,196244000000,3576000000.00,12547000000.00,63930000000.00,422000000.00

In [35]:
# explain how CoR diff from CoGs
df_table = FS("IS","AAPL","quarter").df_table()
def url_list():
    urls = ['',
            '',
            'revenue-sales',
            'cost-of-sales-cost-of-revenue-cost-of-goods-sold',
            'gross-profit-gross-income',
            'gross-income-ratio-gross-profit-ratio',
            'r%26d-research-and-development-expenses',
            'sg%26a-sga-sales-general-and-administrative-expenses',
            'other-expenses',
            'operating-expenses',
            '',
            'interest-expense',
            'd%26a-depreciation-and-amortization',
            'ebitda',
            'ebitda-ratio',
            'operating-income',
            'operating-income-ratio',
            'other-income-other-expenses-net',
            'income-before-tax-provisions',
            'income-before-tax-ratio',
            'income-tax-expense-provisions',
            'net-income',
            'net-income-ratio',
            'eps-earnings-per-share',
            'eps-earnings-per-share-diluted',
            'shares-outstanding-for-eps',
            'shares-outstanding-weighted-for-eps',
            '',
            '',]
    return urls
def metrics_urls_mapped(df_table, urls):
    df_table = FS("IS","AAPL","quarter").df_table()
    metrics = list(df_table)
    metrics_urls_mapped = dict(zip(metrics, urls))
    return metrics_urls_mapped

In [36]:
metrics_urls_mapped(df_table, url_list())

{'Date': '',
 'Quarter & Year': '',
 'Revenue (Sales)': 'revenue-sales',
 'Cost of Revenue (Sales)': 'cost-of-sales-cost-of-revenue-cost-of-goods-sold',
 'Gross Profit (Income)': 'gross-profit-gross-income',
 'Gross Profit (Income) Ratio': 'gross-income-ratio-gross-profit-ratio',
 'Research and Development (R&D) Expenses': 'r%26d-research-and-development-expenses',
 'Sales, General and Administrative (SG&A) Expenses': 'sg%26a-sga-sales-general-and-administrative-expenses',
 'Other Expenses': 'other-expenses',
 'Operating Expenses': 'operating-expenses',
 'Cost and Expenses': '',
 'Interest Expense': 'interest-expense',
 'Depreciation and Amortization (D&A)': 'd%26a-depreciation-and-amortization',
 'EBITDA': 'ebitda',
 'EBITDA Ratio': 'ebitda-ratio',
 'Operating Income': 'operating-income',
 'Operating Income Ratio': 'operating-income-ratio',
 'Total Other Income Expenses (Net)': 'other-income-other-expenses-net',
 'Income Before Tax': 'income-before-tax-provisions',
 'Income Before Tax Ratio': 'income-before-tax-ratio',
 'Income Tax Expense': 'income-tax-expense-provisions',
 'Net Income': 'net-income',
 'Net Income Ratio': 'net-income-ratio',
 'EPS': 'eps-earnings-per-share',
 'EPS Diluted': 'eps-earnings-per-share-diluted',
 'Weighted Average Shares Outstanding': 'shares-outstanding-for-eps',
 'Weighted Average Shares Outstanding (Diluted)': 'shares-outstanding-weighted-for-eps',
 'SEC Filing': '',
 'Date & Time Filing Accepted': ''}

In [22]:
def first_metric(df_table, metric):
    metric = list((df_table['Revenue (Sales)'].astype(str).str[0:]))[-1]
    return metric()

'260174000000'

In [10]:
list((df_raw['date'].astype(str).str[0:4]))[-1]

'1983'

In [ ]:
list(df_raw)

In [3]:
 df_raw=FS("IS","AAPL").df_raw()

TypeError: 'DataFrame' object is not callable

In [6]:
df_table_raw
earliest_year = list((self.year['date'].astype(str).str[0:4]))[-1]

,Date,Quarter & Year,Revenue (Sales),Cost of Revenue (Sales),Gross Profit (Income),Gross Profit (Income) Ratio,Research and Development (R&D) Expenses,"Sales, General and Administrative (SG&A) Expenses",Other Expenses,Operating Expenses,...,Income Before Tax Ratio,Income Tax Expense,Net Income,Net Income Ratio,EPS,EPS Diluted,Weighted Average Shares Outstanding,Weighted Average Shares Outstanding (Diluted),SEC Filing,Date & Time Filing Accepted
36,1983-09-30,FY 1983,983000000,506000000,477000000,0.49,60000000,287000000,0.00,347000000,...,0.15,69000000.00,77000000,0.08,0.02,0.02,3353000000,3353000000,NaN,NaN
35,1984-09-28,FY 1984,1516000000,879000000,637000000,0.42,71000000,480000000,0.00,551000000,...,0.07,45000000.00,64000000,0.04,0.02,0.02,3410000000,3410000000,NaN,NaN
34,1985-09-27,FY 1985,1918000000,1118000000,800000000,0.42,73000000,588000000,0.00,698000000,...,0.06,59000000.00,61000000,0.03,0.02,0.02,3466000000,3466000000,NaN,NaN
33,1986-09-26,FY 1986,1902000000,891000000,1011000000,0.53,128000000,609000000,0.00,737000000,...,0.16,156000000.00,154000000,0.08,0.04,0.04,3602000000,3602000000,NaN,NaN
32,1987-09-25,FY 1987,2661000000,1296000000,1365000000,0.51,192000000,802000000,0.00,994000000,...,0.15,193000000.00,217000000,0.08,0.06,0.06,3685000000,3685000000,NaN,NaN
31,1988-09-30,FY 1988,4071000000,1991000000,2080000000,0.51,273000000,1188000000,0.00,1460000000,...,0.16,256000000.00,400000000,0.10,0.11,0.11,3637000000,3637000000,NaN,NaN
30,1989-09-29,FY 1989,5284000000,2695000000,2589000000,0.49,420000000,1535000000,0.00,1955000000,...,0.14,290000000.00,454000000,0.09,0.13,0.13,3603000000,3603000000,NaN,NaN
29,1990-09-28,FY 1990,5558000000,2606000000,2952000000,0.53,478000000,1729000000,0.00,2240000000,...,0.14,304000000.00,475000000,0.09,0.14,0.14,3523000000,3523000000,NaN,NaN
28,1991-09-27,FY 1991,6309000000,3314000000,2995000000,0.47,583000000,1740000000,0.00,2548000000,...,0.08,190000000.00,310000000,0.05,0.13,0.13,3368000000,3368000000,NaN,NaN
27,1992-09-25,FY 1992,7087000000,3991000000,3095000000,0.44,602000000,1687000000,0.00,2290000000,...,0.12,325000000.00,530000000,0.07,0.15,0.15,3430000000,3430000000,NaN,NaN
26,1993-09-24,FY 1993,7977000000,5249000000,2728000000,0.34,665000000,1632000000,0.00,2618000000,...,0.02,53000000.00,87000000,0.01,0.09,0.09,3340000000,3340000000,NaN,NaN
25,1994-09-30,FY 1994,9189000000,6845000000,2344000000,0.26,564000000,1384000000,0.00,1821000000,...,0.05,190000000.00,310000000,0.03,0.07,0.07,3325000000,3325000000,https://www.sec.gov/Archives/edgar/data/320193...,1994-12-13 00:00:00
24,1995-09-29,FY 1995,11062000000,8204000000,2858000000,0.26,614000000,1583000000,0.00,2174000000,...,0.06,250000000.00,424000000,0.04,0.12,0.12,3445000000,3445000000,https://www.sec.gov/Archives/edgar/data/320193...,1995-12-19 00:00:00
23,1996-09-27,FY 1996,9833000000,8865000000,968000000,0.10,604000000,1568000000,0.00,2351000000,...,-0.13,-479000000.00,-816000000,-0.08,-0.20,-0.20,3465000000,3465000000,https://www.sec.gov/Archives/edgar/data/320193...,1996-12-19 00:00:00
22,1997-09-26,FY 1997,7081000000,5713000000,1368000000,0.19,485000000,1286000000,0.00,2438000000,...,-0.15,0.00,-1045000000,-0.15,-0.11,-0.11,3530000000,3530000000,https://www.sec.gov/Archives/edgar/data/320193...,1997-12-05 00:00:00
21,1998-09-25,FY 1998,5941000000,4462000000,1479000000,0.25,303000000,908000000,0.00,1218000000,...,0.06,20000000.00,309000000,0.05,0.08,0.08,4702000000,4702000000,NaN,NaN
20,1999-09-25,FY 1999,6134000000,4438000000,1696000000,0.28,314000000,996000000,0.00,1337000000,...,0.11,75000000.00,601000000,0.10,0.14,0.14,4877000000,4877000000,https://www.sec.gov/Archives/edgar/data/320193...,1999-12-22 00:00:00
19,2000-09-30,FY 2000,7983000000,5817000000,2166000000,0.27,380000000,1256000000,0.00,1644000000,...,0.14,306000000.00,786000000,0.10,0.16,0.16,5045000000,5045000000,https://www.sec.gov/Archives/edgar/data/320193...,2000-12-14 00:00:00
18,2001-09-29,FY 2001,5363000000,4128000000,1235000000,0.23,430000000,1138000000,11000000.00,1579000000,...,-0.01,-15000000.00,-25000000,-0.00,0.00,0.00,4839000000,4839000000,https://www.sec.gov/Archives/edgar/data/320193...,2001-12-21 00:00:00
17,2002-09-28,FY 2002,5742000000,4139000000,1603000000,0.28,446000000,1109000000,29000000.00,1586000000,...,0.02,22000000.00,65000000,0.01,0.02,0.02,5065000000,5065000000,https://www.sec.gov/Archives/edgar/data/320193...,2002-12-19 17:20:21
16,2003-09-27,FY 2003,6207000000,4499000000,1708000000,0.28,471000000,1212000000,26000000.00,1709000000,...,0.01,24000000.00,69000000,0.01,0.02,0.02,5089000000,5089000000,https://www.sec.gov/Archives/edgar/data/320193...,2003-12-19 17:25:45
15,2004-09-25,FY 2004,8279000000,6020000000,2259000000,0.27,489000000,1421000000,23000000.00,1933000000,...,0.05,107000000.00,276000000,0.03,0.05,0.05,5422000000,5422000000,https://www.sec.gov/Archives/edgar/data/320193...,2004-12-02 18:05:49
14,2005-09-24,FY 2005,13931000000,9888000000,4043000000,0.29,534000000,1859000000,165000000.00,2393000000,...,0.13,480000000.00,1335000000,0.10,0.22,0.22,5997000000,5997000000,https://www.sec.gov/Archives/edgar/data/320193...,2005-11-30 21:22:48
13,2006-09-30,FY 2006,19315000000,13717000000,5598000000,0.29,712000000,2433000000,165000000.00,3145000000,...,0.15,829000000.00,1989000000,0.10,0.32,0.32,6143000000,6143000000,https://www.sec.gov/Archives/edgar/data/320193...,2006-12-29 06:05:58
12,2007-09-29,FY 2007,24006000000,15852000000,8154000000,0.34,782000000,2963000000,599000000.00,3745000000,...,0.21,1512000000.00,3496000000,0.15,0.56,0.56,6225000000,6225000000,https://www.sec.gov/Archives/edgar/data/320193...,2007-11-15 16:49:37
11,2008-09-27,FY 2008,32479000000,21334000000,11145000000,0.34,1109000000,3761000000,620000000.00,4870000000,...,0.21,2061000000.00,4834000000,0.15,0.77,0.77,6315000000,6315000000,https://www.sec.gov/Archives/edgar/data/320193...,2008-11-05 06:16:23
10,2009-09-26,FY 2009,42905000000,25683000000,17222000000,0.40,1333000000,4149000000,326000000.00,5482000000,...,0.28,3831000000.00,8235000000,0.19,1.30,1.30,6349000000,6349000000,https://www.sec.gov/Archives/edgar/data/320193...,2009-10-27 16:18:29
9,2010-09-25,FY 2010,65225000000,39541000000,25684000000,0.39,1782000000,5517000000,155000000.00,7299000000,...,0.28,4527000000.00,14013000000,0.21,2.16,2.16,6473000000,6473000000,https://www.sec.gov/Archives/edgar/data/320193...,2010-10-27 16:36:21
8,2011-09-24,FY 2011,108249000000,64431000000,43818000000,0.40,2429000000,7599000000,415000000.00,10028000000,...,0.32,8283000000.00,25922000000,0.24,3.95,3.95,6557000000,6557000000,https://www.sec.gov/Archives/edgar/data/320193...,2011-10-26 16:35:25
7,2012-09-29,FY 2012,156508000000,87846000000,68662000000,0.44,3381000000,10040000000,522000000.00,13421000000,...,0.36,14030000000.00,41733000000,0.27,6.31,6.31,6617000000,6617000000,https://www.sec.gov/Archives/edgar/data/320193...,2012-10-31 17:07:19
6,2013-09-28,FY 2013,170910000000,106606000000,64304000000,0.38,4475000000,10830000000,1156000000.00,15305000000,...,0.29,13118000000.00,37037000000,0.22,5.68,5.68,6522000000,6522000000,https://www.sec.gov/Archives/edgar/data/320193...,2013-10-29 20:38:28
5,2014-09-27,FY 2014,182795000000,112258000000,70537000000,0.39,6041000000,11993000000,980000000.00,18034000000,...,0.29,13973000000.00,39510000000,0.22,6.45,6.45,6123000000,6123000000,https://www.sec.gov/Archives/edgar/data/320193...,2014-10-27 17:11:55
4,2015-09-26,FY 2015,233715000000,140089000000,93626000000,0.40,8067000000,14329000000,1285000000.00,22396000000,...,0.31,19121000000.00,53394000000,0.23,2.30,2.30,23172276000,23172276000,https://www.sec.gov/Archives/edgar/data/320193...,2015-10-28 16:31:09
3,2016-09-24,FY 2016,215639000000,131376000000,84263000000,0.39,10045000000,14194000000,1348000000.00,24239000000,...,0.28,15685000000.00,45687000000,0.21,2.08,2.08,22001124000,22001124000,https://www.sec.gov/Archives/edgar/data/320193...,2016-10-26 16:42:16
2,2017-09-30,FY 2017,229234000000,141048000000,88186000000,0.38,11581000000,15261000000,2745000000.00,26842000000,...,0.28,15738000000.00,48351000000,0.21,2.30,2.30,21006768000,21006768000,https://www.sec.gov/Archives/edgar/data/320193...,2017-11-03 08:01:37
1,2018-09-29,FY 2018,265595000000,163756000000,101839000000,0.38,14236000000,16705000000,0.00,30941000000,...,0.27,11872000000.00,59531000000,0.22,3.05,3.05,20000436000,20000436000,https://www.sec.gov/Archives/edgar/data/320193...,2018-11-05 08:01:40
0,2019-09-28,FY 2019,260174000000,161782000000,98392000000,0.38,16217000000,18245000000,1807000000.00,34462000000,...,0.25,10481000000.00,55256000000,0.21,2.97,2.97,18595652000,18595652000,https://www.sec.gov/Archives/edgar/data/320193...,2019-10-30 18:12:36

In [9]:
FS_csv("Income Statement", "AAPL")

,Unnamed: 0,date,symbol,fillingDate,acceptedDate,period,revenue,costOfRevenue,grossProfit,grossProfitRatio,...,incomeBeforeTaxRatio,incomeTaxExpense,netIncome,netIncomeRatio,eps,epsdiluted,weightedAverageShsOut,weightedAverageShsOutDil,link,finalLink
0,0,2019-09-28,AAPL,2019-10-31 00:00:00,2019-10-30 18:12:36,FY,260174000000,161782000000,98392000000,0.378178,...,0.252666,1.048100e+10,55256000000,0.212381,2.97145,2.97145,18595652000,18595652000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
1,0,2018-09-29,AAPL,2018-11-05 00:00:00,2018-11-05 08:01:40,FY,265595000000,163756000000,101839000000,0.383437,...,0.274489,1.187200e+10,59531000000,0.224142,3.05148,3.05148,20000436000,20000436000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
2,0,2017-09-30,AAPL,2017-11-03 00:00:00,2017-11-03 08:01:37,FY,229234000000,141048000000,88186000000,0.384699,...,0.279579,1.573800e+10,48351000000,0.210924,2.30169,2.30169,21006768000,21006768000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
3,0,2016-09-24,AAPL,2016-10-26 00:00:00,2016-10-26 16:42:16,FY,215639000000,131376000000,84263000000,0.390760,...,0.284605,1.568500e+10,45687000000,0.211868,2.07658,2.07658,22001124000,22001124000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
4,0,2015-09-26,AAPL,2015-10-28 00:00:00,2015-10-28 16:31:09,FY,233715000000,140089000000,93626000000,0.400599,...,0.310271,1.912100e+10,53394000000,0.228458,2.30422,2.30422,23172276000,23172276000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
5,0,2014-09-27,AAPL,2014-10-27 00:00:00,2014-10-27 17:11:55,FY,182795000000,112258000000,70537000000,0.385880,...,0.292585,1.397300e+10,39510000000,0.216144,6.45000,6.45000,6123000000,6123000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
6,0,2013-09-28,AAPL,2013-10-30 00:00:00,2013-10-29 20:38:28,FY,170910000000,106606000000,64304000000,0.376245,...,0.293459,1.311800e+10,37037000000,0.216705,5.68000,5.68000,6522000000,6522000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
7,0,2012-09-29,AAPL,2012-10-31 00:00:00,2012-10-31 17:07:19,FY,156508000000,87846000000,68662000000,0.438712,...,0.356295,1.403000e+10,41733000000,0.266651,6.31000,6.31000,6617000000,6617000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
8,0,2011-09-24,AAPL,2011-10-26 00:00:00,2011-10-26 16:35:25,FY,108249000000,64431000000,43818000000,0.404789,...,0.315984,8.283000e+09,25922000000,0.239466,3.95000,3.95000,6557000000,6557000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
9,0,2010-09-25,AAPL,2010-10-27 00:00:00,2010-10-27 16:36:21,FY,65225000000,39541000000,25684000000,0.393775,...,0.284247,4.527000e+09,14013000000,0.214841,2.16000,2.16000,6473000000,6473000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
10,0,2009-09-26,AAPL,2009-10-27 00:00:00,2009-10-27 16:18:29,FY,42905000000,25683000000,17222000000,0.401398,...,0.281226,3.831000e+09,8235000000,0.191936,1.30000,1.30000,6349000000,6349000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
11,0,2008-09-27,AAPL,2008-11-05 00:00:00,2008-11-05 06:16:23,FY,32479000000,21334000000,11145000000,0.343145,...,0.212291,2.061000e+09,4834000000,0.148835,0.77000,0.77000,6315000000,6315000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
12,0,2007-09-29,AAPL,2007-11-15 00:00:00,2007-11-15 16:49:37,FY,24006000000,15852000000,8154000000,0.339665,...,0.208615,1.512000e+09,3496000000,0.145630,0.56000,0.56000,6225000000,6225000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
13,0,2006-09-30,AAPL,2006-12-29,2006-12-29 06:05:58,FY,19315000000,13717000000,5598000000,0.289827,...,0.145897,8.290000e+08,1989000000,0.102977,0.32000,0.32000,6143000000,6143000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
14,0,2005-09-24,AAPL,2005-12-01,2005-11-30 21:22:48,FY,13931000000,9888000000,4043000000,0.290216,...,0.130285,4.800000e+08,1335000000,0.095829,0.22000,0.22000,5997000000,5997000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
15,0,2004-09-25,AAPL,2004-12-03,2004-12-02 18:05:49,FY,8279000000,6020000000,2259000000,0.272859,...,0.046262,1.070000e+08,276000000,0.033337,0.05000,0.05000,5422000000,5422000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
16,0,2003-09-27,AAPL,2003-12-19,2003-12-19 17:25:45,FY,6207000000,4499000000,1708000000,0.275173,...,0.014822,2.400000e+07,69000000,0.011116,0.02000,0.02000,5089000000,5089000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
17,0,2002-09-28,AAPL,2002-12-19 00:00:00,2002-12-19 17:20:21,FY,5742000000,4139000000,1603000000,0.279171,...,0.015152,2.200000e+07,65000000,0.011320,0.02000,0.02000,5065000000,5065000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
18,0,2001-09-29,AAPL,2001-12-21,2001-12-21 00:00:00,FY,5363000000,4128000000,1235000000,0.230282,...,-0.009696,-1.500000e+07,-25000000,-0.004662,0.00000,0.00000,4839000000,4839000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
19,0,2000-09-30,AAPL,2000-12-14 00:00:00,2000-12-14 00:00:00,FY,7983000000,5817000000,2166000000,0.271327,...,0.136791,3.060000e+08,786000000,0.098459,0.16000,0.16000,5045000000,5045000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
20,0,1999-09-25,AAPL,1999-12-22 00:00:00,1999-12-22 00:00:00,FY,6134000000,4438000000,1696000000,0.276492,...,0.110205,7.500000e+07,601000000,0.097978,0.14000,0.14000,4877000000,4877000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
21,0,1998-09-25,AAPL,NaN,NaN,FY,5941000000,4462000000,1479000000,0.248948,...,0.055378,2.000000e+07,309000000,0.052011,0.08000,0.08000,4702000000,4702000000,NaN,NaN
22,0,1997-09-26,AAPL,1997-12-05 00:00:00,1997-12-05 00:00:00,FY,7081000000,5713000000,1368000000,0.193193,...,-0.147578,0.000000e+00,-1045000000,-0.147578,-0.11000,-0.11000,3530000000,3530000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
23,0,1996-09-27,AAPL,1996-12-19 00:00:00,1996-12-19 00:00:00,FY,9833000000,8865000000,968000000,0.098444,...,-0.131699,-4.790000e+08,-816000000,-0.082986,-0.20000,-0.20000,3465000000,3465000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
24,0,1995-09-29,AAPL,1995-12-19 00:00:00,1995-12-19 00:00:00,FY,11062000000,8204000000,2858000000,0.258362,...,0.060929,2.500000e+08,424000000,0.038329,0.12000,0.12000,3445000000,3445000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
25,0,1994-09-30,AAPL,1994-12-13 00:00:00,1994-12-13 00:00:00,FY,9189000000,6845000000,2344000000,0.255088,...,0.054413,1.900000e+08,310000000,0.033736,0.07000,0.07000,3325000000,3325000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
26,0,1993-09-24,AAPL,NaN,NaN,FY,7977000000,5249000000,2728000000,0.341983,...,0.017550,5.300000e+07,87000000,0.010906,0.09000,0.09000,3340000000,3340000000,NaN,NaN
27,0,1992-09-25,AAPL,NaN,NaN,FY,7087000000,3991000000,3095000000,0.436715,...,0.120643,3.250000e+08,530000000,0.074785,0.15000,0.15000,3430000000,3430000000,NaN,NaN
28,0,1991-09-27,AAPL,NaN,NaN,FY,6309000000,3314000000,2995000000,0.474719,...,0.079252,1.900000e+08,310000000,0.049136,0.13000,0.13000,3368000000,3368000000,NaN,NaN
29,0,1990-09-28,AAPL,NaN,NaN,FY,5558000000,2606000000,2952000000,0.531126,...,0.140158,3.040000e+08,475000000,0.085462,0.14000,0.14000,3523000000,3523000000,NaN,NaN
30,0,1989-09-29,AAPL,NaN,NaN,FY,5284000000,2695000000,2589000000,0.489970,...,0.140802,2.900000e+08,454000000,0.085920,0.13000,0.13000,3603000000,3603000000,NaN,NaN
31,0,1988-09-30,AAPL,NaN,NaN,FY,4071000000,1991000000,2080000000,0.510931,...,0.161140,2.560000e+08,400000000,0.098256,0.11000,0.11000,3637000000,3637000000,NaN,NaN
32,0,1987-09-25,AAPL,NaN,NaN,FY,2661000000,1296000000,1365000000,0.512965,...,0.154077,1.930000e+08,217000000,0.081548,0.06000,0.06000,3685000000,3685000000,NaN,NaN
33,0,1986-09-26,AAPL,NaN,NaN,FY,1902000000,891000000,1011000000,0.531546,...,0.162986,1.560000e+08,154000000,0.080967,0.04000,0.04000,3602000000,3602000000,NaN,NaN
34,0,1985-09-27,AAPL,NaN,NaN,FY,1918000000,1118000000,800000000,0.417101,...,0.062565,5.900000e+07,61000000,0.031804,0.02000,0.02000,3466000000,3466000000,NaN,NaN
35,0,1984-09-28,AAPL,NaN,NaN,FY,1516000000,879000000,637000000,0.420185,...,0.071900,4.500000e+07,64000000,0.042216,0.02000,0.02000,3410000000,3410000000,NaN,NaN
36,0,1983-09-30,AAPL,NaN,NaN,FY,983000000,506000000,477000000,0.485249,...,0.148525,6.900000e+07,77000000,0.078332,0.02000,0.02000,3353000000,3353000000,NaN,NaN

In [104]:
def isnumber(x):
        try:
            float(x)
            return True
        except:
            return False

In [85]:
csv_file = glob.glob("..\data\Historical Financial Statements\*\year\Income Statement\*_AAPL_*")[-1]
df = pd.read_csv(csv_file)
list(df)

['Unnamed: 0',
 'date',
 'symbol',
 'fillingDate',
 'acceptedDate',
 'period',
 'revenue',
 'costOfRevenue',
 'grossProfit',
 'grossProfitRatio',
 'researchAndDevelopmentExpenses',
 'generalAndAdministrativeExpenses',
 'sellingAndMarketingExpenses',
 'otherExpenses',
 'operatingExpenses',
 'costAndExpenses',
 'interestExpense',
 'depreciationAndAmortization',
 'ebitda',
 'ebitdaratio',
 'operatingIncome',
 'operatingIncomeRatio',
 'totalOtherIncomeExpensesNet',
 'incomeBeforeTax',
 'incomeBeforeTaxRatio',
 'incomeTaxExpense',
 'netIncome',
 'netIncomeRatio',
 'eps',
 'epsdiluted',
 'weightedAverageShsOut',
 'weightedAverageShsOutDil',
 'link',
 'finalLink']

In [94]:
df

,Date,Quarter & Year,Revenue (Sales),Cost of Revenue (Sales),Gross Profit (Income),Gross Profit (Income) Ratio,Research and Development (R&D) Expenses,"Sales, General and Administrative (SG&A) Expenses",Other Expenses,Operating Expenses,...,Income Before Tax Ratio,Income Tax Expense,Net Income,Net Income Ratio,EPS,EPS Diluted,Weighted Average Shares Outstanding,Weighted Average Shares Outstanding (Diluted),SEC Filing,Date & Time Filing Accepted
36,1983-09-30,FY 1983,983000000,506000000,477000000,0.49,60000000,287000000,0.00,347000000,...,0.15,69000000.00,77000000,0.08,0.02,0.02,3353000000,3353000000,NaN,NaN
35,1984-09-28,FY 1984,1516000000,879000000,637000000,0.42,71000000,480000000,0.00,551000000,...,0.07,45000000.00,64000000,0.04,0.02,0.02,3410000000,3410000000,NaN,NaN
34,1985-09-27,FY 1985,1918000000,1118000000,800000000,0.42,73000000,588000000,0.00,698000000,...,0.06,59000000.00,61000000,0.03,0.02,0.02,3466000000,3466000000,NaN,NaN
33,1986-09-26,FY 1986,1902000000,891000000,1011000000,0.53,128000000,609000000,0.00,737000000,...,0.16,156000000.00,154000000,0.08,0.04,0.04,3602000000,3602000000,NaN,NaN
32,1987-09-25,FY 1987,2661000000,1296000000,1365000000,0.51,192000000,802000000,0.00,994000000,...,0.15,193000000.00,217000000,0.08,0.06,0.06,3685000000,3685000000,NaN,NaN
31,1988-09-30,FY 1988,4071000000,1991000000,2080000000,0.51,273000000,1188000000,0.00,1460000000,...,0.16,256000000.00,400000000,0.10,0.11,0.11,3637000000,3637000000,NaN,NaN
30,1989-09-29,FY 1989,5284000000,2695000000,2589000000,0.49,420000000,1535000000,0.00,1955000000,...,0.14,290000000.00,454000000,0.09,0.13,0.13,3603000000,3603000000,NaN,NaN
29,1990-09-28,FY 1990,5558000000,2606000000,2952000000,0.53,478000000,1729000000,0.00,2240000000,...,0.14,304000000.00,475000000,0.09,0.14,0.14,3523000000,3523000000,NaN,NaN
28,1991-09-27,FY 1991,6309000000,3314000000,2995000000,0.47,583000000,1740000000,0.00,2548000000,...,0.08,190000000.00,310000000,0.05,0.13,0.13,3368000000,3368000000,NaN,NaN
27,1992-09-25,FY 1992,7087000000,3991000000,3095000000,0.44,602000000,1687000000,0.00,2290000000,...,0.12,325000000.00,530000000,0.07,0.15,0.15,3430000000,3430000000,NaN,NaN
26,1993-09-24,FY 1993,7977000000,5249000000,2728000000,0.34,665000000,1632000000,0.00,2618000000,...,0.02,53000000.00,87000000,0.01,0.09,0.09,3340000000,3340000000,NaN,NaN
25,1994-09-30,FY 1994,9189000000,6845000000,2344000000,0.26,564000000,1384000000,0.00,1821000000,...,0.05,190000000.00,310000000,0.03,0.07,0.07,3325000000,3325000000,https://www.sec.gov/Archives/edgar/data/320193...,1994-12-13 00:00:00
24,1995-09-29,FY 1995,11062000000,8204000000,2858000000,0.26,614000000,1583000000,0.00,2174000000,...,0.06,250000000.00,424000000,0.04,0.12,0.12,3445000000,3445000000,https://www.sec.gov/Archives/edgar/data/320193...,1995-12-19 00:00:00
23,1996-09-27,FY 1996,9833000000,8865000000,968000000,0.10,604000000,1568000000,0.00,2351000000,...,-0.13,-479000000.00,-816000000,-0.08,-0.20,-0.20,3465000000,3465000000,https://www.sec.gov/Archives/edgar/data/320193...,1996-12-19 00:00:00
22,1997-09-26,FY 1997,7081000000,5713000000,1368000000,0.19,485000000,1286000000,0.00,2438000000,...,-0.15,0.00,-1045000000,-0.15,-0.11,-0.11,3530000000,3530000000,https://www.sec.gov/Archives/edgar/data/320193...,1997-12-05 00:00:00
21,1998-09-25,FY 1998,5941000000,4462000000,1479000000,0.25,303000000,908000000,0.00,1218000000,...,0.06,20000000.00,309000000,0.05,0.08,0.08,4702000000,4702000000,NaN,NaN
20,1999-09-25,FY 1999,6134000000,4438000000,1696000000,0.28,314000000,996000000,0.00,1337000000,...,0.11,75000000.00,601000000,0.10,0.14,0.14,4877000000,4877000000,https://www.sec.gov/Archives/edgar/data/320193...,1999-12-22 00:00:00
19,2000-09-30,FY 2000,7983000000,5817000000,2166000000,0.27,380000000,1256000000,0.00,1644000000,...,0.14,306000000.00,786000000,0.10,0.16,0.16,5045000000,5045000000,https://www.sec.gov/Archives/edgar/data/320193...,2000-12-14 00:00:00
18,2001-09-29,FY 2001,5363000000,4128000000,1235000000,0.23,430000000,1138000000,11000000.00,1579000000,...,-0.01,-15000000.00,-25000000,-0.00,0.00,0.00,4839000000,4839000000,https://www.sec.gov/Archives/edgar/data/320193...,2001-12-21 00:00:00
17,2002-09-28,FY 2002,5742000000,4139000000,1603000000,0.28,446000000,1109000000,29000000.00,1586000000,...,0.02,22000000.00,65000000,0.01,0.02,0.02,5065000000,5065000000,https://www.sec.gov/Archives/edgar/data/320193...,2002-12-19 17:20:21
16,2003-09-27,FY 2003,6207000000,4499000000,1708000000,0.28,471000000,1212000000,26000000.00,1709000000,...,0.01,24000000.00,69000000,0.01,0.02,0.02,5089000000,5089000000,https://www.sec.gov/Archives/edgar/data/320193...,2003-12-19 17:25:45
15,2004-09-25,FY 2004,8279000000,6020000000,2259000000,0.27,489000000,1421000000,23000000.00,1933000000,...,0.05,107000000.00,276000000,0.03,0.05,0.05,5422000000,5422000000,https://www.sec.gov/Archives/edgar/data/320193...,2004-12-02 18:05:49
14,2005-09-24,FY 2005,13931000000,9888000000,4043000000,0.29,534000000,1859000000,165000000.00,2393000000,...,0.13,480000000.00,1335000000,0.10,0.22,0.22,5997000000,5997000000,https://www.sec.gov/Archives/edgar/data/320193...,2005-11-30 21:22:48
13,2006-09-30,FY 2006,19315000000,13717000000,5598000000,0.29,712000000,2433000000,165000000.00,3145000000,...,0.15,829000000.00,1989000000,0.10,0.32,0.32,6143000000,6143000000,https://www.sec.gov/Archives/edgar/data/320193...,2006-12-29 06:05:58
12,2007-09-29,FY 2007,24006000000,15852000000,8154000000,0.34,782000000,2963000000,599000000.00,3745000000,...,0.21,1512000000.00,3496000000,0.15,0.56,0.56,6225000000,6225000000,https://www.sec.gov/Archives/edgar/data/320193...,2007-11-15 16:49:37
11,2008-09-27,FY 2008,32479000000,21334000000,11145000000,0.34,1109000000,3761000000,620000000.00,4870000000,...,0.21,2061000000.00,4834000000,0.15,0.77,0.77,6315000000,6315000000,https://www.sec.gov/Archives/edgar/data/320193...,2008-11-05 06:16:23
10,2009-09-26,FY 2009,42905000000,25683000000,17222000000,0.40,1333000000,4149000000,326000000.00,5482000000,...,0.28,3831000000.00,8235000000,0.19,1.30,1.30,6349000000,6349000000,https://www.sec.gov/Archives/edgar/data/320193...,2009-10-27 16:18:29
9,2010-09-25,FY 2010,65225000000,39541000000,25684000000,0.39,1782000000,5517000000,155000000.00,7299000000,...,0.28,4527000000.00,14013000000,0.21,2.16,2.16,6473000000,6473000000,https://www.sec.gov/Archives/edgar/data/320193...,2010-10-27 16:36:21
8,2011-09-24,FY 2011,108249000000,64431000000,43818000000,0.40,2429000000,7599000000,415000000.00,10028000000,...,0.32,8283000000.00,25922000000,0.24,3.95,3.95,6557000000,6557000000,https://www.sec.gov/Archives/edgar/data/320193...,2011-10-26 16:35:25
7,2012-09-29,FY 2012,156508000000,87846000000,68662000000,0.44,3381000000,10040000000,522000000.00,13421000000,...,0.36,14030000000.00,41733000000,0.27,6.31,6.31,6617000000,6617000000,https://www.sec.gov/Archives/edgar/data/320193...,2012-10-31 17:07:19
6,2013-09-28,FY 2013,170910000000,106606000000,64304000000,0.38,4475000000,10830000000,1156000000.00,15305000000,...,0.29,13118000000.00,37037000000,0.22,5.68,5.68,6522000000,6522000000,https://www.sec.gov/Archives/edgar/data/320193...,2013-10-29 20:38:28
5,2014-09-27,FY 2014,182795000000,112258000000,70537000000,0.39,6041000000,11993000000,980000000.00,18034000000,...,0.29,13973000000.00,39510000000,0.22,6.45,6.45,6123000000,6123000000,https://www.sec.gov/Archives/edgar/data/320193...,2014-10-27 17:11:55
4,2015-09-26,FY 2015,233715000000,140089000000,93626000000,0.40,8067000000,14329000000,1285000000.00,22396000000,...,0.31,19121000000.00,53394000000,0.23,2.30,2.30,23172276000,23172276000,https://www.sec.gov/Archives/edgar/data/320193...,2015-10-28 16:31:09
3,2016-09-24,FY 2016,215639000000,131376000000,84263000000,0.39,10045000000,14194000000,1348000000.00,24239000000,...,0.28,15685000000.00,45687000000,0.21,2.08,2.08,22001124000,22001124000,https://www.sec.gov/Archives/edgar/data/320193...,2016-10-26 16:42:16
2,2017-09-30,FY 2017,229234000000,141048000000,88186000000,0.38,11581000000,15261000000,2745000000.00,26842000000,...,0.28,15738000000.00,48351000000,0.21,2.30,2.30,21006768000,21006768000,https://www.sec.gov/Archives/edgar/data/320193...,2017-11-03 08:01:37
1,2018-09-29,FY 2018,265595000000,163756000000,101839000000,0.38,14236000000,16705000000,0.00,30941000000,...,0.27,11872000000.00,59531000000,0.22,3.05,3.05,20000436000,20000436000,https://www.sec.gov/Archives/edgar/data/320193...,2018-11-05 08:01:40
0,2019-09-28,FY 2019,260174000000,161782000000,98392000000,0.38,16217000000,18245000000,1807000000.00,34462000000,...,0.25,10481000000.00,55256000000,0.21,2.97,2.97,18595652000,18595652000,https://www.sec.gov/Archives/edgar/data/320193...,2019-10-30 18:12:36

In [170]:
class FS:
    """
    FS = financial statement.
    Subject = BS, CF, or IF.
    """
    def __init__(self,subject,symbol):
        if subject=="BS":
            subject="Balance Sheet"
        elif subject=="CF":
            subject="Cash Flow Statement"
        elif subject=="IS":
            subject="Income Statement"
        pd.set_option('display.float_format', '{:.2f}'.format)
        self.subject = subject
        self.symbol = symbol
        csv_file = glob.glob("..\data\Historical Financial Statements\*\year\{}\*_{}_*".format(self.subject,self.symbol))[-1] #.format("NLOK"))[-1]
        self.year = pd.read_csv(csv_file)
        df = self.year[0:].iloc[::-1]
        df['Quarter & Year'] = df['period']+" "+(df['date'].astype(str).str[0:4])#((df_bs['date'].astype(str).str[0:4].astype(int))-1).astype(str)
        df = df.drop([ 'Unnamed: 0','symbol','fillingDate','period','link'],axis=1)
        df.columns = [
            'Date',
            'Date & Time Filing Accepted',
            'Revenue (Sales)',
            'Cost of Revenue (Sales)',
            'Gross Profit (Income)',
            'Gross Profit (Income) Ratio',
            'Research and Development (R&D) Expenses',
            'Sales, General and Administrative (SG&A) Expenses',
            'Selling and Marketing (S&M) Expenses',
            'Other Expenses',
            'Operating Expenses',
            'Cost and Expenses',
            'Interest Expense',
            'Depreciation and Amortization (D&A)',
            'EBITDA',
            'EBITDA Ratio',
            'Operating Income',
            'Operating Income Ratio',
            'Total Other Income Expenses (Net)',
            'Income Before Tax',
            'Income Before Tax Ratio',
            'Income Tax Expense',
            'Net Income',
            'Net Income Ratio',
            'EPS',
            'EPS Diluted',
            'Weighted Average Shares Outstanding',
            'Weighted Average Shares Outstanding (Diluted)',
            'SEC Filing', 'Quarter & Year'
                        ]

        cols = [ 'Date','Quarter & Year', 'Revenue (Sales)',
            'Cost of Revenue (Sales)',
            'Gross Profit (Income)',
            'Gross Profit (Income) Ratio',
            'Research and Development (R&D) Expenses',
            'Sales, General and Administrative (SG&A) Expenses',
            'Other Expenses',
            'Operating Expenses',
            'Cost and Expenses',
            'Interest Expense',
            'Depreciation and Amortization (D&A)',
            'EBITDA',
            'EBITDA Ratio',
            'Operating Income',
            'Operating Income Ratio',
            'Total Other Income Expenses (Net)',
            'Income Before Tax',
            'Income Before Tax Ratio',
            'Income Tax Expense',
            'Net Income',
            'Net Income Ratio',
            'EPS',
            'EPS Diluted',
            'Weighted Average Shares Outstanding',
            'Weighted Average Shares Outstanding (Diluted)',
            'SEC Filing','Date & Time Filing Accepted']
        self.df = df[cols]
    def first(self):
        earliest_year = list((self.year['date'].astype(str).str[0:4]))[-1]
        return(earliest_year)

    def last(self):
        latest_year = list((self.year['date'].astype(str).str[0:4]))[0]
        return(latest_year)  
    def df_table_pct(self):
        df_pct_chg = self.df
        pct_chg_cols = (self.df.select_dtypes(include=['number']).pct_change(-1))
        df_str = df_pct_chg.drop(list(pct_chg_cols), axis=1)
        df_pct_chg = df_str.join(pct_chg_cols)[list(self.df)]
        df_pct_chg_t = df_pct_chg.transpose()
        df_pct_chg_t.columns = list(df_pct_chg['Quarter & Year'])
        df_pct_chg_t = df_pct_chg_t.iloc[1:]

        df_pct_chg_t = df_pct_chg.transpose()
        df_pct_chg_t.columns = list(df_pct_chg['Quarter & Year'])
        df_pct_chg_t = df_pct_chg_t.iloc[1:]
        df_pct_chg_t['']=df_pct_chg_t.index
        df_pct_chg_t.index = range(len(df_pct_chg_t))

        cols = list(df_pct_chg_t.columns)
        cols = [cols[-1]] + cols[:-1]
        df_pct_chg_t = df_pct_chg_t[cols]


        df_t = self.df.transpose()
        df_t.columns = list(self.df['Quarter & Year'])
        df_t = df_t.iloc[1:]
        df_t['']=df_t.index
        df_t.index = range(len(df_t))

        cols = list(df_t.columns)
        cols = [cols[-1]] + cols[:-1]
        df_t = df_t[cols]

        df_pct = df_pct_chg_t.to_html().replace('<table','<table class="df_tableBoot" id="df_myTable1"')# dt-responsive" id="df_myTable"')
        df_table_pct = [df_pct]
        return df_table_pct
    
    def df_table(self):
        fs = FS(self.subject,self.symbol)
        df_t = self.df.transpose()
        df_t.columns = list(self.df['Quarter & Year'])
        df_t = df_t.iloc[1:]
        df_t['']=df_t.index
        df_t.index = range(len(df_t))        
        df_t = df_t[df_t.columns[::-1]]
        cols = list(df_t.columns)
        cols = [cols[-1]] + cols[:-1]
        df_t = df_t[cols]
        # df_html = df_t.to_html().replace('<table','<table class="df_tableBoot" id="df_myTable2"')# dt-responsive" id="df_myTable"')

        df_n = self.df[self.df.applymap(isnumber)]
        df_n[df_n < 2] = np.nan
        # pd.DataFrame(df_n.sum())#axis=0))
        df_n_sum = pd.DataFrame(df_n.sum())
        df_n_sum[df_n_sum == 0] = ""
        new_header = df_n_sum.iloc[0] #grab the first row for the header
        df_n_sum = df_n_sum[1:] #take the data less the header row
        df_n_sum.columns = new_header #set the header row as the df header
        df_n_sum.index = range(len(df_n_sum))
        df_t = pd.merge(df_n_sum, df_t, left_index=True, right_index=True,suffixes=('Total: {} - {}'.format(fs.last(),fs.first()), 'Line Items'))
        df_t = df_t[0:25]

        col_list = []
        n=0
        while n<len(list(df_t))-0:
            if n<6:
                    col_item = '<col id="col_item_{}" class="col_item_class first_7_col">'.format(n)
            else:
                col_item = '<col id="col_item_{}" class="col_item_class">'.format(n)
            col_list.append(col_item)
            n+=1
        col_list_str = ''.join(map(str, col_list))
        df_html = df_t.to_html().replace('border="1" class="dataframe">','class="df_tableBoot" id="df_myTable" border="1" class="dataframe"><colgroup>{}</colgroup>'.format(col_list_str))


        df_html = df_html.replace('<td>','<td class="td_fin_statement_class fin_statement_class">')
        df_html = df_html.replace('<th>','<th class="th_fin_statement_class fin_statement_class">')
        df_html = df_html.replace('<tr>','<tr class="tr_fin_statement_class fin_statement_class">')
        df_html = df_html[0:]
        df_table = [df_html[0:]]
        return df_table
    def df_values(self):
        fs = FS(self.subject,self.symbol)
        fs.df_table()
#         df = self.df[['date','revenue']].dropna() #.fillna(0)#.fillna(method='bfill')
        df = self.df
        df['Date'] = (pd.to_datetime(self.df['Date']).values.astype(np.int64) // 10 ** 6)
        df_json = df.to_numpy().tolist()
        chart_x_dates =  df['Date'].to_list()
        chart_y_revenue = df['Revenue (Sales)'].to_list()
        df_titles = df.columns.values
        {'df_json': df_json, 'chart_x_dates':chart_x_dates,'chart_y_revenue':chart_y_revenue,'df_titles':df_titles }
        return {'df_table': fs.df_table()
                , 'df_table_pct':fs.df_table_pct(),
               'chart_x_dates': chart_x_dates, 'chart_y_revenue':chart_y_revenue,
               'df_json': df_json, 'df_titles':df_titles}

In [171]:
# del df

In [174]:
# FS("IS","AAPL").df_table_pct()
df_json = FS("IS","AAPL").df_values()
# df_json = FS("IS","AAPL").df_table()
# .df_json()
# fs['df_json']
df_json['df_table']


FS("IS","AAPL").df_values()['df_table']
FS("IS","AAPL").df_values()['df_table_pct']
FS("IS","AAPL").df_values()['chart_x_dates']
FS("IS","AAPL").df_values()['chart_y_revenue']
FS("IS","AAPL").df_values()['df_json']
FS("IS","AAPL").df_values()['df_titles']

# {'df_table': fs.df_table()
#                 , 'df_table_pct':fs.df_table_pct(),
#                'chart_x_dates': chart_x_dates, 'chart_y_revenue':chart_y_revenue,
#                'df_json': df_json, 'df_titles':df_titles}

array(['Date', 'Quarter & Year', 'Revenue (Sales)',
       'Cost of Revenue (Sales)', 'Gross Profit (Income)',
       'Gross Profit (Income) Ratio',
       'Research and Development (R&D) Expenses',
       'Sales, General and Administrative (SG&A) Expenses',
       'Other Expenses', 'Operating Expenses', 'Cost and Expenses',
       'Interest Expense', 'Depreciation and Amortization (D&A)',
       'EBITDA', 'EBITDA Ratio', 'Operating Income',
       'Operating Income Ratio', 'Total Other Income Expenses (Net)',
       'Income Before Tax', 'Income Before Tax Ratio',
       'Income Tax Expense', 'Net Income', 'Net Income Ratio', 'EPS',
       'EPS Diluted', 'Weighted Average Shares Outstanding',
       'Weighted Average Shares Outstanding (Diluted)', 'SEC Filing',
       'Date & Time Filing Accepted'], dtype=object)

In [144]:
fs

'1983'

test{test}

Coordinates: {latitude}, {longitude}

In [13]:
def income_statement(symbol):
    df_bs_pct_chg = df_bs
    pct_chg_cols = (df_bs.select_dtypes(include=['number']).pct_change(-1))
    df_bs_str = df_bs_pct_chg.drop(list(pct_chg_cols), axis=1)
    df_bs_pct_chg = df_bs_str.join(pct_chg_cols)[list(df_bs)]

    pd.set_option('display.float_format', '{:.2f}'.format)
    df_bs_pct_chg_t = df_bs_pct_chg.transpose()
    df_bs_pct_chg_t.columns = list(df_bs_pct_chg['Quarter & Year'])
    df_bs_pct_chg_t = df_bs_pct_chg_t.iloc[1:]

    df_bs_pct_chg_t = df_bs_pct_chg.transpose()
    df_bs_pct_chg_t.columns = list(df_bs_pct_chg['Quarter & Year'])
    df_bs_pct_chg_t = df_bs_pct_chg_t.iloc[1:]
    df_bs_pct_chg_t['']=df_bs_pct_chg_t.index
    df_bs_pct_chg_t.index = range(len(df_bs_pct_chg_t))

    cols = list(df_bs_pct_chg_t.columns)
    cols = [cols[-1]] + cols[:-1]
    df_bs_pct_chg_t = df_bs_pct_chg_t[cols]


    df_bs_t = df_bs.transpose()
    df_bs_t.columns = list(df_bs['Quarter & Year'])
    df_bs_t = df_bs_t.iloc[1:]
    df_bs_t['']=df_bs_t.index
    df_bs_t.index = range(len(df_bs_t))

    cols = list(df_bs_t.columns)
    cols = [cols[-1]] + cols[:-1]
    df_bs_t = df_bs_t[cols]
    #endregion

    df_pct = df_bs_pct_chg_t.to_html().replace('<table','<table class="df_tableBoot" id="df_myTable1"')# dt-responsive" id="df_myTable"')

    df_bs_t = df_bs_t[df_bs_t.columns[::-1]]
    cols = list(df_bs_t.columns)
    cols = [cols[-1]] + cols[:-1]
    df_bs_t = df_bs_t[cols]
    # df_html = df_bs_t.to_html().replace('<table','<table class="df_tableBoot" id="df_myTable2"')# dt-responsive" id="df_myTable"')

    df_bs_n = df_bs[df_bs.applymap(isnumber)]
    df_bs_n[df_bs_n < 2] = np.nan
    # pd.DataFrame(df_bs_n.sum())#axis=0))
    df_bs_n_sum = pd.DataFrame(df_bs_n.sum())
    df_bs_n_sum[df_bs_n_sum == 0] = ""
    new_header = df_bs_n_sum.iloc[0] #grab the first row for the header
    df_bs_n_sum = df_bs_n_sum[1:] #take the data less the header row
    df_bs_n_sum.columns = new_header #set the header row as the df header
    df_bs_n_sum.index = range(len(df_bs_n_sum))
    df_bs_t = pd.merge(df_bs_n_sum, df_bs_t, left_index=True, right_index=True,suffixes=('Total: {} - {}'.format(latest_year,earliest_year), 'Line Items'))
    df_bs_t = df_bs_t[0:25]

    col_list = []
    n=0
    while n<len(list(df_bs_t))-0:
        if n<6:
                col_item = '<col id="col_item_{}" class="col_item_class first_7_col">'.format(n)
        else:
            col_item = '<col id="col_item_{}" class="col_item_class">'.format(n)
        col_list.append(col_item)
        n+=1
    col_list_str = ''.join(map(str, col_list))
    df_html = df_bs_t.to_html().replace('border="1" class="dataframe">','class="df_tableBoot" id="df_myTable" border="1" class="dataframe"><colgroup>{}</colgroup>'.format(col_list_str))


    df_html = df_html.replace('<td>','<td class="td_fin_statement_class fin_statement_class">')
    df_html = df_html.replace('<th>','<th class="th_fin_statement_class fin_statement_class">')
    df_html = df_html.replace('<tr>','<tr class="tr_fin_statement_class fin_statement_class">')

    df_html=df_html[0:]
    df = df[['date','revenue']].dropna() #.fillna(0)#.fillna(method='bfill')

    df['date'] = pd.to_datetime(df['date']).values.astype(np.int64) // 10 ** 6
    
    df_table = [df_html]
    df_table_pct = [df_pct]
    df_numpy = df.to_numpy().tolist()
    chart_x_dates =  df['date'].to_list()
    chart_y_revenue = df['revenue'].to_list()
    df_titles = df.columns.values
    
    values = list(df['revenue'])#[0:19]
    return {'df_table': df_table, 'df_table_pct':df_table_pct,
           'chart_x_dates': chart_x_dates, 'chart_y_revenue':chart_y_revenue,
           'df_numpy': df_numpy, 'df_titles':df_titles}

In [16]:
income_statement("AAPL")

NameError: name 'df_bs' is not defined

In [14]:
subject = "Income Statement"
symbol = "AAPL"

In [15]:
FS_csv(subject, symbol)

NameError: name 'FS_csv' is not defined

In [17]:
FS_csv(subject, symbol)=='1983'

True

In [15]:
def FS_csv(subject, symbol):
    csv_file = glob.glob("..\data\Historical Financial Statements\*\year\{}\*_{}_*".format(subject,symbol))[-1] #.format("NLOK"))[-1]
    df = pd.read_csv(csv_file)
    df = list((df['date'].astype(str).str[0:4]))[-1]

    return(df)

In [12]:
def FS_first_year(df):
    earliest_year = list((df['date'].astype(str).str[0:4]))[-1]
    return(earliest_year)

In [13]:
def FS_latest_year(df):
    latest_year = list((df_bs['date'].astype(str).str[0:4]))[0]
    return(latest_year)

In [14]:
subject_csv = FS_csv("Income Statement","AAPL")
FS_first_year(subject_csv)

'1983'

In [11]:
def IS_df(df):
    pd.set_option('display.float_format', '{:.2f}'.format)
    df = df[0:].iloc[::-1]#.dropna()
    df_bs = df
    df_bs['Quarter & Year'] = df_bs['period']+" "+(df_bs['date'].astype(str).str[0:4])#((df_bs['date'].astype(str).str[0:4].astype(int))-1).astype(str)
    df_bs = df_bs.drop([ 'Unnamed: 0','date',
        'symbol',
        'fillingDate','period','link'],axis=1)
    df_bs.columns = [
        'Date & Time Filing Accepted',
        'Revenue (Sales)',
        'Cost of Revenue (Sales)',
        'Gross Profit (Income)',
        'Gross Profit (Income) Ratio',
        'Research and Development (R&D) Expenses',
        'Sales, General and Administrative (SG&A) Expenses',
        'Selling and Marketing (S&M) Expenses',
        'Other Expenses',
        'Operating Expenses',
        'Cost and Expenses',
        'Interest Expense',
        'Depreciation and Amortization (D&A)',
        'EBITDA',
        'EBITDA Ratio',
        'Operating Income',
        'Operating Income Ratio',
        'Total Other Income Expenses (Net)',
        'Income Before Tax',
        'Income Before Tax Ratio',
        'Income Tax Expense',
        'Net Income',
        'Net Income Ratio',
        'EPS',
        'EPS Diluted',
        'Weighted Average Shares Outstanding',
        'Weighted Average Shares Outstanding (Diluted)',
        'SEC Filing', 'Quarter & Year'
                    ]

    cols = [ 'Quarter & Year', 'Revenue (Sales)',
        'Cost of Revenue (Sales)',
        'Gross Profit (Income)',
        'Gross Profit (Income) Ratio',
        'Research and Development (R&D) Expenses',
        'Sales, General and Administrative (SG&A) Expenses',
        'Other Expenses',
        'Operating Expenses',
        'Cost and Expenses',
        'Interest Expense',
        'Depreciation and Amortization (D&A)',
        'EBITDA',
        'EBITDA Ratio',
        'Operating Income',
        'Operating Income Ratio',
        'Total Other Income Expenses (Net)',
        'Income Before Tax',
        'Income Before Tax Ratio',
        'Income Tax Expense',
        'Net Income',
        'Net Income Ratio',
        'EPS',
        'EPS Diluted',
        'Weighted Average Shares Outstanding',
        'Weighted Average Shares Outstanding (Diluted)',
        'SEC Filing','Date & Time Filing Accepted']

    df_bs = df_bs[cols]
    return(df_bs)

In [28]:
df = IS_df("AAPL")
IS_first_year(df)

KeyError: 'date'

In [9]:
def df_table_pct(df_bs):
    df_bs_pct_chg = df_bs
    pct_chg_cols = (df_bs.select_dtypes(include=['number']).pct_change(-1))
    df_bs_str = df_bs_pct_chg.drop(list(pct_chg_cols), axis=1)
    df_bs_pct_chg = df_bs_str.join(pct_chg_cols)[list(df_bs)]

    pd.set_option('display.float_format', '{:.2f}'.format)
    df_bs_pct_chg_t = df_bs_pct_chg.transpose()
    df_bs_pct_chg_t.columns = list(df_bs_pct_chg['Quarter & Year'])
    df_bs_pct_chg_t = df_bs_pct_chg_t.iloc[1:]

    df_bs_pct_chg_t = df_bs_pct_chg.transpose()
    df_bs_pct_chg_t.columns = list(df_bs_pct_chg['Quarter & Year'])
    df_bs_pct_chg_t = df_bs_pct_chg_t.iloc[1:]
    df_bs_pct_chg_t['']=df_bs_pct_chg_t.index
    df_bs_pct_chg_t.index = range(len(df_bs_pct_chg_t))

    cols = list(df_bs_pct_chg_t.columns)
    cols = [cols[-1]] + cols[:-1]
    df_bs_pct_chg_t = df_bs_pct_chg_t[cols]


    df_bs_t = df_bs.transpose()
    df_bs_t.columns = list(df_bs['Quarter & Year'])
    df_bs_t = df_bs_t.iloc[1:]
    df_bs_t['']=df_bs_t.index
    df_bs_t.index = range(len(df_bs_t))

    cols = list(df_bs_t.columns)
    cols = [cols[-1]] + cols[:-1]
    df_bs_t = df_bs_t[cols]
    #endregion

    df_pct = df_bs_pct_chg_t.to_html().replace('<table','<table class="df_tableBoot" id="df_myTable1"')# dt-responsive" id="df_myTable"')

    df_bs_t = df_bs_t[df_bs_t.columns[::-1]]
    cols = list(df_bs_t.columns)
    cols = [cols[-1]] + cols[:-1]
    df_bs_t = df_bs_t[cols]
    # df_html = df_bs_t.to_html().replace('<table','<table class="df_tableBoot" id="df_myTable2"')# dt-responsive" id="df_myTable"')

    df_bs_n = df_bs[df_bs.applymap(isnumber)]
    df_bs_n[df_bs_n < 2] = np.nan
    # pd.DataFrame(df_bs_n.sum())#axis=0))
    df_bs_n_sum = pd.DataFrame(df_bs_n.sum())
    df_bs_n_sum[df_bs_n_sum == 0] = ""
    new_header = df_bs_n_sum.iloc[0] #grab the first row for the header
    df_bs_n_sum = df_bs_n_sum[1:] #take the data less the header row
    df_bs_n_sum.columns = new_header #set the header row as the df header
    df_bs_n_sum.index = range(len(df_bs_n_sum))
    df_bs_t = pd.merge(df_bs_n_sum, df_bs_t, left_index=True, right_index=True,suffixes=('Total: {} - {}'.format(latest_year,earliest_year), 'Line Items'))
    df_bs_t = df_bs_t[0:25]

    col_list = []
    n=0
    while n<len(list(df_bs_t))-0:
        if n<6:
                col_item = '<col id="col_item_{}" class="col_item_class first_7_col">'.format(n)
        else:
            col_item = '<col id="col_item_{}" class="col_item_class">'.format(n)
        col_list.append(col_item)
        n+=1
    col_list_str = ''.join(map(str, col_list))
    df_html = df_bs_t.to_html().replace('border="1" class="dataframe">','class="df_tableBoot" id="df_myTable" border="1" class="dataframe"><colgroup>{}</colgroup>'.format(col_list_str))


    df_html = df_html.replace('<td>','<td class="td_fin_statement_class fin_statement_class">')
    df_html = df_html.replace('<th>','<th class="th_fin_statement_class fin_statement_class">')
    df_html = df_html.replace('<tr>','<tr class="tr_fin_statement_class fin_statement_class">')

    df_html=df_html[0:]
    df = df[['date','revenue']].dropna() #.fillna(0)#.fillna(method='bfill')

    df['date'] = pd.to_datetime(df['date']).values.astype(np.int64) // 10 ** 6
    
    df_table = [df_html]
    df_table_pct = [df_pct]
    df_numpy = df.to_numpy().tolist()
    chart_x_dates =  df['date'].to_list()
    chart_y_revenue = df['revenue'].to_list()
    df_titles = df.columns.values
    
    values = list(df['revenue'])#[0:19]
    return(df_table,df_table_pct, chart_x_dates,chart_y_revenue,df_numpy,df_titles)

In [10]:
df_numpy

NameError: name 'df_numpy' is not defined

In [14]:
# chart_x,chart_y,)
# tables=df_table, table_pct = df_table_pct, df_date = chart_x_dates, df_rev = chart_y_revenue,
#      df_json = df_numpy,titles=df_titles)


# )

In [8]:
start_time = time.time()
csv_file = glob.glob("../data/Historical Financial Statements\*\year\Income Statement\*_{}_*".format("AAPL"))[-1] #.format("NLOK"))[-1]
df = pd.read_csv(csv_file)
# df = df[df['date'].notna()]#fillna(method='ffill')
df = df[0:].iloc[::-1]#.dropna()
df_bs = df

In [74]:
#region Pandas data manipulation
df_bs['Quarter & Year'] = df_bs['period']+" "+(df_bs['date'].astype(str).str[0:4])#((df_bs['date'].astype(str).str[0:4].astype(int))-1).astype(str)

latest_year = list((df_bs['date'].astype(str).str[0:4]))[0]
earliest_year = list((df_bs['date'].astype(str).str[0:4]))[-1]

df_bs = df_bs.drop([ 'Unnamed: 0','date',
    'symbol',
    'fillingDate','period','link'],axis=1)

df_bs.columns = [
    'Date & Time Filing Accepted',
    'Revenue (Sales)',
    'Cost of Revenue (Sales)',
    'Gross Profit (Income)',
    'Gross Profit (Income) Ratio',
    'Research and Development (R&D) Expenses',
    'Sales, General and Administrative (SG&A) Expenses',
    'Selling and Marketing (S&M) Expenses',
    'Other Expenses',
    'Operating Expenses',
    'Cost and Expenses',
    'Interest Expense',
    'Depreciation and Amortization (D&A)',
    'EBITDA',
    'EBITDA Ratio',
    'Operating Income',
    'Operating Income Ratio',
    'Total Other Income Expenses (Net)',
    'Income Before Tax',
    'Income Before Tax Ratio',
    'Income Tax Expense',
    'Net Income',
    'Net Income Ratio',
    'EPS',
    'EPS Diluted',
    'Weighted Average Shares Outstanding',
    'Weighted Average Shares Outstanding (Diluted)',
    'SEC Filing', 'Quarter & Year'
                ]
# for col in df_bs.columns:
#     if len(df_bs[col].unique()) == 1:
#         df_bs.drop(col,inplace=True,axis=1)

cols = [ 'Quarter & Year', 'Revenue (Sales)',
    'Cost of Revenue (Sales)',
    'Gross Profit (Income)',
    'Gross Profit (Income) Ratio',
    'Research and Development (R&D) Expenses',
    'Sales, General and Administrative (SG&A) Expenses',
    'Other Expenses',
    'Operating Expenses',
    'Cost and Expenses',
    'Interest Expense',
    'Depreciation and Amortization (D&A)',
    'EBITDA',
    'EBITDA Ratio',
    'Operating Income',
    'Operating Income Ratio',
    'Total Other Income Expenses (Net)',
    'Income Before Tax',
    'Income Before Tax Ratio',
    'Income Tax Expense',
    'Net Income',
    'Net Income Ratio',
    'EPS',
    'EPS Diluted',
    'Weighted Average Shares Outstanding',
    'Weighted Average Shares Outstanding (Diluted)',
    'SEC Filing','Date & Time Filing Accepted']

df_bs = df_bs[cols]

df_bs_pct_chg = df_bs
pct_chg_cols = (df_bs.select_dtypes(include=['number']).pct_change(-1))
df_bs_str = df_bs_pct_chg.drop(list(pct_chg_cols), axis=1)
df_bs_pct_chg = df_bs_str.join(pct_chg_cols)[list(df_bs)]

pd.set_option('display.float_format', '{:.2f}'.format)
df_bs_pct_chg_t = df_bs_pct_chg.transpose()
df_bs_pct_chg_t.columns = list(df_bs_pct_chg['Quarter & Year'])
df_bs_pct_chg_t = df_bs_pct_chg_t.iloc[1:]

df_bs_pct_chg_t = df_bs_pct_chg.transpose()
df_bs_pct_chg_t.columns = list(df_bs_pct_chg['Quarter & Year'])
df_bs_pct_chg_t = df_bs_pct_chg_t.iloc[1:]
df_bs_pct_chg_t['']=df_bs_pct_chg_t.index
df_bs_pct_chg_t.index = range(len(df_bs_pct_chg_t))

cols = list(df_bs_pct_chg_t.columns)
cols = [cols[-1]] + cols[:-1]
df_bs_pct_chg_t = df_bs_pct_chg_t[cols]


df_bs_t = df_bs.transpose()
df_bs_t.columns = list(df_bs['Quarter & Year'])
df_bs_t = df_bs_t.iloc[1:]
df_bs_t['']=df_bs_t.index
df_bs_t.index = range(len(df_bs_t))

cols = list(df_bs_t.columns)
cols = [cols[-1]] + cols[:-1]
df_bs_t = df_bs_t[cols]
#endregion

df_pct = df_bs_pct_chg_t.to_html().replace('<table','<table class="df_tableBoot" id="df_myTable1"')# dt-responsive" id="df_myTable"')

df_bs_t = df_bs_t[df_bs_t.columns[::-1]]
cols = list(df_bs_t.columns)
cols = [cols[-1]] + cols[:-1]
df_bs_t = df_bs_t[cols]
# df_html = df_bs_t.to_html().replace('<table','<table class="df_tableBoot" id="df_myTable2"')# dt-responsive" id="df_myTable"')



def isnumber(x):
    try:
        float(x)
        return True
    except:
        return False
df_bs_n = df_bs[df_bs.applymap(isnumber)]
df_bs_n[df_bs_n < 2] = np.nan
# pd.DataFrame(df_bs_n.sum())#axis=0))
df_bs_n_sum = pd.DataFrame(df_bs_n.sum())
df_bs_n_sum[df_bs_n_sum == 0] = ""
new_header = df_bs_n_sum.iloc[0] #grab the first row for the header
df_bs_n_sum = df_bs_n_sum[1:] #take the data less the header row
df_bs_n_sum.columns = new_header #set the header row as the df header
df_bs_n_sum.index = range(len(df_bs_n_sum))
df_bs_t = pd.merge(df_bs_n_sum, df_bs_t, left_index=True, right_index=True,suffixes=('Total: {} - {}'.format(latest_year,earliest_year), 'Line Items'))
df_bs_t = df_bs_t[0:25]



col_list = []
n=0
while n<len(list(df_bs_t))-0:
    if n<6:
            col_item = '<col id="col_item_{}" class="col_item_class first_7_col">'.format(n)
    else:
        col_item = '<col id="col_item_{}" class="col_item_class">'.format(n)
    col_list.append(col_item)
    n+=1
col_list_str = ''.join(map(str, col_list))
df_html = df_bs_t.to_html().replace('border="1" class="dataframe">','class="df_tableBoot" id="df_myTable" border="1" class="dataframe"><colgroup>{}</colgroup>'.format(col_list_str))


df_html = df_html.replace('<td>','<td class="td_fin_statement_class fin_statement_class">')
df_html = df_html.replace('<th>','<th class="th_fin_statement_class fin_statement_class">')
df_html = df_html.replace('<tr>','<tr class="tr_fin_statement_class fin_statement_class">')

df_html=df_html[0:]
# df = df[['date','revenue']].dropna() #.fillna(0)#.fillna(method='bfill')

df['date'] = pd.to_datetime(df['date']).values.astype(np.int64) // 10 ** 6

full_path = csv_file.split(' ~ ')

path = pathlib.PurePath(full_path[0])
# asset_ticker = path.name #full_path[0].split("/")
# asset_type = full_path[1]
# asset_name = full_path[-1]
print("Nothing took {} seconds".format(time.time() - start_time))
total_seconds = ((time.time() - start_time))

labels = [
    'JAN', 'FEB', 'MAR', 'APR',
    'MAY', 'JUN', 'JUL', 'AUG',
    'SEP', 'OCT', 'NOV', 'DEC'
]
labels = list(df['date'])#[0:19]

values = [
    967.67, 1190.89, 1079.75, 1349.19,
    2328.91, 2504.28, 2873.83, 4764.87,
    4349.29, 6458.30, 9907, 16297
]

values = list(df['revenue'])#[0:19]

colors = [
    "#F7464A", "#46BFBD", "#FDB45C", "#FEDCBA",
    "#ABCDEF", "#DDDDDD", "#ABCABC", "#4169E1",
    "#C71585", "#FF4500", "#FEDCBA", "#46BFBD"]


df_html

NameError: name 'df_bs' is not defined