In [1]:
import pandas as pd
import numpy as np
import glob

In [18]:
import time
import datetime
s = "01/12/2011"
time.mktime(datetime.datetime.strptime(s, "%d/%m/%Y").timetuple())

1322715600.0

In [616]:
csv_file = glob.glob("data/Historical Financial Statements\*\year\Income Statement\*{}*".format("AAPL"))[-1] #.format("NLOK"))[-1]
df = pd.read_csv(csv_file)[['date','revenue']]
df = df.dropna()
df['date'] = pd.to_datetime(df['date']).values.astype(np.int64) // 10 ** 6

In [624]:
csv_file = glob.glob("data/Historical Financial Statements\*\year\Income Statement\*{}*".format("AAPL"))[-1] #.format("NLOK"))[-1]

df_bs = pd.read_csv(csv_file)

df_bs['Quarter & Year'] = df_bs['period']+" "+(df_bs['date'].astype(str).str[0:4])#((df_bs['date'].astype(str).str[0:4].astype(int))-1).astype(str)

In [625]:
latest_year = list((df_bs['date'].astype(str).str[0:4]))[0]
earliest_year = list((df_bs['date'].astype(str).str[0:4]))[-1]

In [626]:
df_bs = df_bs.drop([ 'Unnamed: 0','date',
 'symbol',
 'fillingDate','period','link'],axis=1)
df_bs.columns = [
 'Date & Time Filing Accepted',
 'Revenue (Sales)',
 'Cost of Revenue (Sales)',
 'Gross Profit (Income)',
 'Gross Profit (Income) Ratio',
 'Research and Development (R&D) Expenses',
 'Sales, General and Administrative (SG&A) Expenses',
 'Selling and Marketing (S&M) Expenses',
 'Other Expenses',
 'Operating Expenses',
 'Cost and Expenses',
 'Interest Expense',
 'Depreciation and Amortization (D&A)',
 'EBITDA',
 'EBITDA Ratio',
 'Operating Income',
 'Operating Income Ratio',
 'Total Other Income Expenses (Net)',
 'Income Before Tax',
 'Income Before Tax Ratio',
 'Income Tax Expense',
 'Net Income',
 'Net Income Ratio',
 'EPS',
 'EPS Diluted',
 'Weighted Average Shares Outstanding',
 'Weighted Average Shares Outstanding (Diluted)',
 'finalLink', 'Quarter & Year'
                ]
for col in df_bs.columns:
    if len(df_bs[col].unique()) == 1:
        df_bs.drop(col,inplace=True,axis=1)

In [627]:
cols = [ 'Quarter & Year', 'Revenue (Sales)',
 'Cost of Revenue (Sales)',
 'Gross Profit (Income)',
 'Gross Profit (Income) Ratio',
 'Research and Development (R&D) Expenses',
 'Sales, General and Administrative (SG&A) Expenses',
 'Other Expenses',
 'Operating Expenses',
 'Cost and Expenses',
 'Interest Expense',
 'Depreciation and Amortization (D&A)',
 'EBITDA',
 'EBITDA Ratio',
 'Operating Income',
 'Operating Income Ratio',
 'Total Other Income Expenses (Net)',
 'Income Before Tax',
 'Income Before Tax Ratio',
 'Income Tax Expense',
 'Net Income',
 'Net Income Ratio',
 'EPS',
 'EPS Diluted',
 'Weighted Average Shares Outstanding',
 'Weighted Average Shares Outstanding (Diluted)',
 'finalLink','Date & Time Filing Accepted']

df_bs = df_bs[cols]

In [628]:
df_bs_pct_chg = df_bs
pct_chg_cols = (df_bs.select_dtypes(include=['number']).pct_change(-1))
df_bs_str = df_bs_pct_chg.drop(list(pct_chg_cols), axis=1)
df_bs_pct_chg = df_bs_str.join(pct_chg_cols)[list(df_bs)]

In [501]:
# pd.DataFrame((df_bs.sum(numeric_only=True))).transpose().append(df_bs)

In [401]:
df_bs.append(df_bs.sum(numeric_only=True), ignore_index=True)
# total_row = df_bs.sum(numeric_only=True)
# df_bs = pd.concat([total_row, df[:]]).reset_index(drop = True) 
# df_bs

,Quarter & Year,Revenue (Sales),Cost of Revenue (Sales),Gross Profit (Income),Gross Profit (Income) Ratio,Research and Development (R&D) Expenses,"Sales, General and Administrative (SG&A) Expenses",Other Expenses,Operating Expenses,Cost and Expenses,...,Income Before Tax Ratio,Income Tax Expense,Net Income,Net Income Ratio,EPS,EPS Diluted,Weighted Average Shares Outstanding,Weighted Average Shares Outstanding (Diluted),finalLink,Date & Time Filing Accepted
0,FY 2019,260174000000.00,161782000000.00,98392000000.00,0.38,16217000000.00,18245000000.00,1807000000.00,34462000000.00,196244000000.00,...,0.25,10481000000.00,55256000000.00,0.21,2.97,2.97,18595652000.00,18595652000.00,https://www.sec.gov/Archives/edgar/data/320193...,2019-10-30 18:12:36
1,FY 2018,265595000000.00,163756000000.00,101839000000.00,0.38,14236000000.00,16705000000.00,0.00,30941000000.00,194697000000.00,...,0.27,11872000000.00,59531000000.00,0.22,3.05,3.05,20000436000.00,20000436000.00,https://www.sec.gov/Archives/edgar/data/320193...,2018-11-05 08:01:40
2,FY 2017,229234000000.00,141048000000.00,88186000000.00,0.38,11581000000.00,15261000000.00,2745000000.00,26842000000.00,167890000000.00,...,0.28,15738000000.00,48351000000.00,0.21,2.30,2.30,21006768000.00,21006768000.00,https://www.sec.gov/Archives/edgar/data/320193...,2017-11-03 08:01:37
3,FY 2016,215639000000.00,131376000000.00,84263000000.00,0.39,10045000000.00,14194000000.00,1348000000.00,24239000000.00,155615000000.00,...,0.28,15685000000.00,45687000000.00,0.21,2.08,2.08,22001124000.00,22001124000.00,https://www.sec.gov/Archives/edgar/data/320193...,2016-10-26 16:42:16
4,FY 2015,233715000000.00,140089000000.00,93626000000.00,0.40,8067000000.00,14329000000.00,1285000000.00,22396000000.00,162485000000.00,...,0.31,19121000000.00,53394000000.00,0.23,2.30,2.30,23172276000.00,23172276000.00,https://www.sec.gov/Archives/edgar/data/320193...,2015-10-28 16:31:09
5,FY 2014,182795000000.00,112258000000.00,70537000000.00,0.39,6041000000.00,11993000000.00,980000000.00,18034000000.00,130292000000.00,...,0.29,13973000000.00,39510000000.00,0.22,6.45,6.45,6123000000.00,6123000000.00,https://www.sec.gov/Archives/edgar/data/320193...,2014-10-27 17:11:55
6,FY 2013,170910000000.00,106606000000.00,64304000000.00,0.38,4475000000.00,10830000000.00,1156000000.00,15305000000.00,121911000000.00,...,0.29,13118000000.00,37037000000.00,0.22,5.68,5.68,6522000000.00,6522000000.00,https://www.sec.gov/Archives/edgar/data/320193...,2013-10-29 20:38:28
7,FY 2012,156508000000.00,87846000000.00,68662000000.00,0.44,3381000000.00,10040000000.00,522000000.00,13421000000.00,101267000000.00,...,0.36,14030000000.00,41733000000.00,0.27,6.31,6.31,6617000000.00,6617000000.00,https://www.sec.gov/Archives/edgar/data/320193...,2012-10-31 17:07:19
8,FY 2011,108249000000.00,64431000000.00,43818000000.00,0.40,2429000000.00,7599000000.00,415000000.00,10028000000.00,74459000000.00,...,0.32,8283000000.00,25922000000.00,0.24,3.95,3.95,6557000000.00,6557000000.00,https://www.sec.gov/Archives/edgar/data/320193...,2011-10-26 16:35:25
9,FY 2010,65225000000.00,39541000000.00,25684000000.00,0.39,1782000000.00,5517000000.00,155000000.00,7299000000.00,46840000000.00,...,0.28,4527000000.00,14013000000.00,0.21,2.16,2.16,6473000000.00,6473000000.00,https://www.sec.gov/Archives/edgar/data/320193...,2010-10-27 16:36:21
10,FY 2009,42905000000.00,25683000000.00,17222000000.00,0.40,1333000000.00,4149000000.00,326000000.00,5482000000.00,31165000000.00,...,0.28,3831000000.00,8235000000.00,0.19,1.30,1.30,6349000000.00,6349000000.00,https://www.sec.gov/Archives/edgar/data/320193...,2009-10-27 16:18:29
11,FY 2008,32479000000.00,21334000000.00,11145000000.00,0.34,1109000000.00,3761000000.00,620000000.00,4870000000.00,26204000000.00,...,0.21,2061000000.00,4834000000.00,0.15,0.77,0.77,6315000000.00,6315000000.00,https://www.sec.gov/Archives/edgar/data/320193...,2008-11-05 06:16:23
12,FY 2007,24006000000.00,15852000000.00,8154000000.00,0.34,782000000.00,2963000000.00,599000000.00,3745000000.00,19597000000.00,...,0.21,1512000000.00,3496000000.00,0.15,0.56,0.56,6225000000.00,6225000000.00,https://www.sec.gov/Archives/edgar/data/320193...,2007-11-15 16:49:37
13,FY 2006,19315000000.00,13717000000.00,5598000000.00,0.29,712000000.00,2433000000.00,165000000.00,3145000000.00,16862000000.00,...,0.15,829000000.00,1989000000.00,0.10,0.32,0.32,6143000000.00,6143000000.00,https://www.sec.gov/Archives/edgar/data/320193...,2006-12-29 06:05:58
14,FY 2005,13931000000.00,9888000000.00,4043000000.00,0.29,534000000.00,1859000000.00,165000000.00,2393000000.00,12281000000.00,...,0.13,480000000.00,1335000000.00,0.10,0.22,0.22,5997000000.00,5997000000.00,https://www.sec.gov/Archives/edgar/data/320193...,2005-11-30 21:22:48
15,FY 2004,8279000000.00,6020000000.00,2259000000.00,0.27,489000000.00,1421000000.00,23000000.00,1933000000.00,7953000000.00,...,0.05,107000000.00,276000000.00,0.03,0.05,0.05,5422000000.00,5422000000.00,https://www.sec.gov/Archives/edgar/data/320193...,2004-12-02 18:05:49
16,FY 2003,6207000000.00,4499000000.00,1708000000.00,0.28,471000000.00,1212000000.00,26000000.00,1709000000.00,6208000000.00,...,0.01,24000000.00,69000000.00,0.01,0.02,0.02,5089000000.00,5089000000.00,https://www.sec.gov/Archives/edgar/data/320193...,2003-12-19 17:25:45
17,FY 2002,5742000000.00,4139000000.00,1603000000.00,0.28,446000000.00,1109000000.00,29000000.00,1586000000.00,5725000000.00,...,0.02,22000000.00,65000000.00,0.01,0.02,0.02,5065000000.00,5065000000.00,https://www.sec.gov/Archives/edgar/data/320193...,2002-12-19 17:20:21
18,FY 2001,5363000000.00,4128000000.00,1235000000.00,0.23,430000000.00,1138000000.00,11000000.00,1579000000.00,5707000000.00,...,-0.01,-15000000.00,-25000000.00,-0.00,0.00,0.00,4839000000.00,4839000000.00,https://www.sec.gov/Archives/edgar/data/320193...,2001-12-21 00:00:00
19,FY 2000,7983000000.00,5817000000.00,2166000000.00,0.27,380000000.00,1256000000.00,0.00,1644000000.00,7461000000.00,...,0.14,306000000.00,786000000.00,0.10,0.16,0.16,5045000000.00,5045000000.00,https://www.sec.gov/Archives/edgar/data/320193...,2000-12-14 00:00:00
20,FY 1999,6134000000.00,4438000000.00,1696000000.00,0.28,314000000.00,996000000.00,0.00,1337000000.00,5775000000.00,...,0.11,75000000.00,601000000.00,0.10,0.14,0.14,4877000000.00,4877000000.00,https://www.sec.gov/Archives/edgar/data/320193...,1999-12-22 00:00:00
21,FY 1998,5941000000.00,4462000000.00,1479000000.00,0.25,303000000.00,908000000.00,0.00,1218000000.00,5680000000.00,...,0.06,20000000.00,309000000.00,0.05,0.08,0.08,4702000000.00,4702000000.00,NaN,NaN
22,FY 1997,7081000000.00,5713000000.00,1368000000.00,0.19,485000000.00,1286000000.00,0.00,2438000000.00,8151000000.00,...,-0.15,0.00,-1045000000.00,-0.15,-0.11,-0.11,3530000000.00,3530000000.00,https://www.sec.gov/Archives/edgar/data/320193...,1997-12-05 00:00:00
23,FY 1996,9833000000.00,8865000000.00,968000000.00,0.10,604000000.00,1568000000.00,0.00,2351000000.00,11216000000.00,...,-0.13,-479000000.00,-816000000.00,-0.08,-0.20,-0.20,3465000000.00,3465000000.00,https://www.sec.gov/Archives/edgar/data/320193...,1996-12-19 00:00:00
24,FY 1995,11062000000.00,8204000000.00,2858000000.00,0.26,614000000.00,1583000000.00,0.00,2174000000.00,10378000000.00,...,0.06,250000000.00,424000000.00,0.04,0.12,0.12,3445000000.00,3445000000.00,https://www.sec.gov/Archives/edgar/data/320193...,1995-12-19 00:00:00
25,FY 1994,9189000000.00,6845000000.00,2344000000.00,0.26,564000000.00,1384000000.00,0.00,1821000000.00,8666000000.00,...,0.05,190000000.00,310000000.00,0.03,0.07,0.07,3325000000.00,3325000000.00,https://www.sec.gov/Archives/edgar/data/320193...,1994-12-13 00:00:00
26,FY 1993,7977000000.00,5249000000.00,2728000000.00,0.34,665000000.00,1632000000.00,0.00,2618000000.00,7867000000.00,...,0.02,53000000.00,87000000.00,0.01,0.09,0.09,3340000000.00,3340000000.00,NaN,NaN
27,FY 1992,7087000000.00,3991000000.00,3095000000.00,0.44,602000000.00,1687000000.00,0.00,2290000000.00,6281000000.00,...,0.12,325000000.00,530000000.00,0.07,0.15,0.15,3430000000.00,3430000000.00,NaN,NaN
28,FY 1991,6309000000.00,3314000000.00,2995000000.00,0.47,583000000.00,1740000000.00,0.00,2548000000.00,5862000000.00,...,0.08,190000000.00,310000000.00,0.05,0.13,0.13,3368000000.00,3368000000.00,NaN,NaN
29,FY 1990,5558000000.00,2606000000.00,2952000000.00,0.53,478000000.00,1729000000.00,0.00,2240000000.00,4846000000.00,...,0.14,304000000.00,475000000.00,0.09,0.14,0.14,3523000000.00,3523000000.00,NaN,NaN
30,FY 1989,5284000000.00,2695000000.00,2589000000.00,0.49,420000000.00,1535000000.00,0.00,1955000000.00,4650000000.00,...,0.14,290000000.00,454000000.00,0.09,0.13,0.13,3603000000.00,3603000000.00,NaN,NaN
31,FY 1988,4071000000.00,1991000000.00,2080000000.00,0.51,273000000.00,1188000000.00,0.00,1460000000.00,3451000000.00,...,0.16,256000000.00,400000000.00,0.10,0.11,0.11,3637000000.00,3637000000.00,NaN,NaN
32,FY 1987,2661000000.00,1296000000.00,1365000000.00,0.51,192000000.00,802000000.00,0.00,994000000.00,2290000000.00,...,0.15,193000000.00,217000000.00,0.08,0.06,0.06,3685000000.00,3685000000.00,NaN,NaN
33,FY 1986,1902000000.00,891000000.00,1011000000.00,0.53,128000000.00,609000000.00,0.00,737000000.00,1628000000.00,...,0.16,156000000.00,154000000.00,0.08,0.04,0.04,3602000000.00,3602000000.00,NaN,NaN
34,FY 1985,1918000000.00,1118000000.00,800000000.00,0.42,73000000.00,588000000.00,0.00,698000000.00,1816000000.00,...,0.06,59000000.00,61000000.00,0.03,0.02,0.02,3466000000.00,3466000000.00,NaN,NaN
35,FY 1984,1516000000.00,879000000.00,637000000.00,0.42,71000000.00,480000000.00,0.00,551000000.00,1430000000.00,...,0.07,45000000.00,64000000.00,0.04,0.02,0.02,3410000000.00,3410000000.00,NaN,NaN
36,FY 1983,983000000.00,506000000.00,477000000.00,0.49,60000000.00,287000000.00,0.00,347000000.00,853000000.00,...,0.15,69000000.00,77000000.00,0.08,0.02,0.02,3353000000.00,3353000000.00,NaN,NaN
37,NaN,2148760000000.00,1322873000000.00,825886000000.00,13.41,91369000000.00,166016000000.00,12377000000.00,258830000000.00,1581703000000.00,...,5.39,137981000000.00,444106000000.00,3.79,41.69,41.69,255318256000.00,255318256000.00,NaN,NaN

In [629]:
pd.set_option('display.float_format', '{:.2f}'.format)

In [630]:
df_bs_t = df_bs.transpose()
df_bs_t.columns = list(df_bs['Quarter & Year'])
df_bs_t = df_bs_t.iloc[1:]
df_bs_t['']=df_bs_t.index
df_bs_t.index = range(len(df_bs_t))

cols = list(df_bs_t.columns)
cols = [cols[-1]] + cols[:-1]
df_bs_t = df_bs_t[cols]
df_bs_t

,,FY 2019,FY 2018,FY 2017,FY 2016,FY 2015,FY 2014,FY 2013,FY 2012,FY 2011,...,FY 1992,FY 1991,FY 1990,FY 1989,FY 1988,FY 1987,FY 1986,FY 1985,FY 1984,FY 1983
0,Revenue (Sales),260174000000,265595000000,229234000000,215639000000,233715000000,182795000000,170910000000,156508000000,108249000000,...,7087000000,6309000000,5558000000,5284000000,4071000000,2661000000,1902000000,1918000000,1516000000,983000000
1,Cost of Revenue (Sales),161782000000,163756000000,141048000000,131376000000,140089000000,112258000000,106606000000,87846000000,64431000000,...,3991000000,3314000000,2606000000,2695000000,1991000000,1296000000,891000000,1118000000,879000000,506000000
2,Gross Profit (Income),98392000000,101839000000,88186000000,84263000000,93626000000,70537000000,64304000000,68662000000,43818000000,...,3095000000,2995000000,2952000000,2589000000,2080000000,1365000000,1011000000,800000000,637000000,477000000
3,Gross Profit (Income) Ratio,0.38,0.38,0.38,0.39,0.40,0.39,0.38,0.44,0.40,...,0.44,0.47,0.53,0.49,0.51,0.51,0.53,0.42,0.42,0.49
4,Research and Development (R&D) Expenses,16217000000,14236000000,11581000000,10045000000,8067000000,6041000000,4475000000,3381000000,2429000000,...,602000000,583000000,478000000,420000000,273000000,192000000,128000000,73000000,71000000,60000000
5,"Sales, General and Administrative (SG&A) Expenses",18245000000,16705000000,15261000000,14194000000,14329000000,11993000000,10830000000,10040000000,7599000000,...,1687000000,1740000000,1729000000,1535000000,1188000000,802000000,609000000,588000000,480000000,287000000
6,Other Expenses,1807000000.00,0.00,2745000000.00,1348000000.00,1285000000.00,980000000.00,1156000000.00,522000000.00,415000000.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
7,Operating Expenses,34462000000,30941000000,26842000000,24239000000,22396000000,18034000000,15305000000,13421000000,10028000000,...,2290000000,2548000000,2240000000,1955000000,1460000000,994000000,737000000,698000000,551000000,347000000
8,Cost and Expenses,196244000000,194697000000,167890000000,155615000000,162485000000,130292000000,121911000000,101267000000,74459000000,...,6281000000,5862000000,4846000000,4650000000,3451000000,2290000000,1628000000,1816000000,1430000000,853000000
9,Interest Expense,3576000000.00,3240000000.00,2323000000.00,1456000000.00,733000000.00,384000000.00,136000000.00,1088000000.00,519000000.00,...,63000000.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
10,Depreciation and Amortization (D&A),12547000000.00,10903000000.00,10157000000.00,10505000000.00,11257000000.00,7946000000.00,6757000000.00,3277000000.00,1814000000.00,...,217000000.00,204000000.00,203000000.00,125000000.00,78000000.00,71000000.00,51000000.00,42000000.00,0.00,0.00
11,EBITDA,81860000000,85546000000,76569000000,73333000000,84505000000,61813000000,57048000000,60128000000,36538000000,...,1135000000,704000000,982000000,869000000,734000000,481000000,361000000,162000000,109000000,146000000
12,EBITDA Ratio,0.31,0.32,0.33,0.34,0.36,0.34,0.33,0.38,0.34,...,0.16,0.11,0.18,0.16,0.18,0.18,0.19,0.08,0.07,0.15
13,Operating Income,63930000000.00,70898000000.00,61344000000.00,60024000000.00,71230000000.00,52503000000.00,48999000000.00,55241000000.00,33790000000.00,...,806000000.00,447000000.00,712000000.00,634000000.00,620000000.00,371000000.00,274000000.00,103000000.00,86000000.00,130000000.00
14,Operating Income Ratio,0.25,0.27,0.27,0.28,0.30,0.29,0.29,0.35,0.31,...,0.11,0.07,0.13,0.12,0.15,0.14,0.14,0.05,0.06,0.13
15,Total Other Income Expenses (Net),422000000.00,-441000000.00,-133000000.00,-1195000000.00,-903000000.00,-311000000.00,-24000000.00,-566000000.00,-104000000.00,...,-13000000.00,52000000.00,67000000.00,110000000.00,36000000.00,39000000.00,36000000.00,17000000.00,23000000.00,16000000.00
16,Income Before Tax,65737000000,72903000000,64089000000,61372000000,72515000000,53483000000,50155000000,55763000000,34205000000,...,855000000,500000000,779000000,744000000,656000000,410000000,310000000,120000000,109000000,146000000
17,Income Before Tax Ratio,0.25,0.27,0.28,0.28,0.31,0.29,0.29,0.36,0.32,...,0.12,0.08,0.14,0.14,0.16,0.15,0.16,0.06,0.07,0.15
18,Income Tax Expense,10481000000.00,11872000000.00,15738000000.00,15685000000.00,19121000000.00,13973000000.00,13118000000.00,14030000000.00,8283000000.00,...,325000000.00,190000000.00,304000000.00,290000000.00,256000000.00,193000000.00,156000000.00,59000000.00,45000000.00,69000000.00
19,Net Income,55256000000,59531000000,48351000000,45687000000,53394000000,39510000000,37037000000,41733000000,25922000000,...,530000000,310000000,475000000,454000000,400000000,217000000,154000000,61000000,64000000,77000000
20,Net Income Ratio,0.21,0.22,0.21,0.21,0.23,0.22,0.22,0.27,0.24,...,0.07,0.05,0.09,0.09,0.10,0.08,0.08,0.03,0.04,0.08
21,EPS,2.97,3.05,2.30,2.08,2.30,6.45,5.68,6.31,3.95,...,0.15,0.13,0.14,0.13,0.11,0.06,0.04,0.02,0.02,0.02
22,EPS Diluted,2.97,3.05,2.30,2.08,2.30,6.45,5.68,6.31,3.95,...,0.15,0.13,0.14,0.13,0.11,0.06,0.04,0.02,0.02,0.02
23,Weighted Average Shares Outstanding,18595652000,20000436000,21006768000,22001124000,23172276000,6123000000,6522000000,6617000000,6557000000,...,3430000000,3368000000,3523000000,3603000000,3637000000,3685000000,3602000000,3466000000,3410000000,3353000000
24,Weighted Average Shares Outstanding (Diluted),18595652000,20000436000,21006768000,22001124000,23172276000,6123000000,6522000000,6617000000,6557000000,...,3430000000,3368000000,3523000000,3603000000,3637000000,3685000000,3602000000,3466000000,3410000000,3353000000
25,finalLink,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Date & Time Filing Accepted,2019-10-30 18:12:36,2018-11-05 08:01:40,2017-11-03 08:01:37,2016-10-26 16:42:16,2015-10-28 16:31:09,2014-10-27 17:11:55,2013-10-29 20:38:28,2012-10-31 17:07:19,2011-10-26 16:35:25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [631]:
def isnumber(x):
    try:
        float(x)
        return True
    except:
        return False
df_bs_n = df_bs[df_bs.applymap(isnumber)]
df_bs_n[df_bs_n < 2] = np.nan
# pd.DataFrame(df_bs_n.sum())#axis=0))
df_bs_n_sum = pd.DataFrame(df_bs_n.sum())
df_bs_n_sum[df_bs_n_sum == 0] = ""
new_header = df_bs_n_sum.iloc[0] #grab the first row for the header
df_bs_n_sum = df_bs_n_sum[1:] #take the data less the header row
df_bs_n_sum.columns = new_header #set the header row as the df header
df_bs_n_sum.index = range(len(df_bs_n_sum))
df_bs_t = pd.merge(df_bs_n_sum, df_bs_t, left_index=True, right_index=True,suffixes=('Total: {} - {}'.format(earliest_year,latest_year), 'Line Items'))

In [632]:
df_bs_pct_chg_t = df_bs_pct_chg.transpose()
df_bs_pct_chg_t.columns = list(df_bs_pct_chg['Quarter & Year'])
df_bs_pct_chg_t = df_bs_pct_chg_t.iloc[1:]
df_bs_pct_chg_t['']=df_bs_pct_chg_t.index
df_bs_pct_chg_t.index = range(len(df_bs_pct_chg_t))

cols = list(df_bs_pct_chg_t.columns)
cols = [cols[-1]] + cols[:-1]
df_bs_pct_chg_t = df_bs_pct_chg_t[cols]

In [636]:
df_bs_t = df_bs_t[0:25]
col_list = []
n=0
while n<len(list(df_bs_t)):
    col_item = '<col id="col_item_{}" class="col_item_class">'.format(n)
#     th_item_id = '<th id="th_item_{}">'.format(n)
#     th_item_id = '<th class="th_item_{}">'.format(n)
    col_list.append(col_item)
    n+=1
col_list_str = ''.join(map(str, col_list))
df_html = df_bs_t.to_html().replace('border="1" class="dataframe">','class="df_tableBoot" id="df_myTable" border="1" class="dataframe"><colgroup>{}</colgroup>'.format(col_list_str))
df_html = df_html.replace('<td>','<td class="td_fin_statement_class">')
df_html = df_html.replace('<th>','<th class="th_fin_statement_class">')
df_html = df_html.replace('<tr>','<tr class="tr_fin_statement_class">')

In [641]:
col_list = []
n=0
while n<len(list(df_bs_t)):
    col_item = '<col id="col_item_{}" class="col_item_class">'.format(n)
#     th_item_id = '<th id="th_item_{}">'.format(n)
#     th_item_id = '<th class="th_item_{}">'.format(n)
    col_list.append(col_item)
    n+=1
col_list_str = ''.join(map(str, col_list))
df_html = df_bs_t.to_html().replace('border="1" class="dataframe">','class="df_tableBoot" id="df_myTable" border="1" class="dataframe"><colgroup>{}</colgroup>'.format(col_list_str))
df_html = df_html.replace('<td>','<td class="td_fin_statement_class">')
df_html = df_html.replace('<th>','<th class="th_fin_statement_class">')
df_html = df_html.replace('<tr>','<tr class="tr_fin_statement_class">')

In [637]:
df_html

'<table class="df_tableBoot" id="df_myTable" border="1" class="dataframe"><colgroup><col id="col_item_0" class="col_item_class"><col id="col_item_1" class="col_item_class"><col id="col_item_2" class="col_item_class"><col id="col_item_3" class="col_item_class"><col id="col_item_4" class="col_item_class"><col id="col_item_5" class="col_item_class"><col id="col_item_6" class="col_item_class"><col id="col_item_7" class="col_item_class"><col id="col_item_8" class="col_item_class"><col id="col_item_9" class="col_item_class"><col id="col_item_10" class="col_item_class"><col id="col_item_11" class="col_item_class"><col id="col_item_12" class="col_item_class"><col id="col_item_13" class="col_item_class"><col id="col_item_14" class="col_item_class"><col id="col_item_15" class="col_item_class"><col id="col_item_16" class="col_item_class"><col id="col_item_17" class="col_item_class"><col id="col_item_18" class="col_item_class"><col id="col_item_19" class="col_item_class"><col id="col_item_20" class="col_item_class"><col id="col_item_21" class="col_item_class"><col id="col_item_22" class="col_item_class"><col id="col_item_23" class="col_item_class"><col id="col_item_24" class="col_item_class"><col id="col_item_25" class="col_item_class"><col id="col_item_26" class="col_item_class"><col id="col_item_27" class="col_item_class"><col id="col_item_28" class="col_item_class"><col id="col_item_29" class="col_item_class"><col id="col_item_30" class="col_item_class"><col id="col_item_31" class="col_item_class"><col id="col_item_32" class="col_item_class"><col id="col_item_33" class="col_item_class"><col id="col_item_34" class="col_item_class"><col id="col_item_35" class="col_item_class"><col id="col_item_36" class="col_item_class"><col id="col_item_37" class="col_item_class"><col id="col_item_38" class="col_item_class"></colgroup>\n  <thead>\n    <tr style="text-align: right;">\n      <th class="th_fin_statement_class"></th>\n      <th class="th_fin_statement_class">Total: 1983 - 2019</th>\n      <th class="th_fin_statement_class">Line Items</th>\n      <th class="th_fin_statement_class">FY 2019</th>\n      <th class="th_fin_statement_class">FY 2018</th>\n      <th class="th_fin_statement_class">FY 2017</th>\n      <th class="th_fin_statement_class">FY 2016</th>\n      <th class="th_fin_statement_class">FY 2015</th>\n      <th class="th_fin_statement_class">FY 2014</th>\n      <th class="th_fin_statement_class">FY 2013</th>\n      <th class="th_fin_statement_class">FY 2012</th>\n      <th class="th_fin_statement_class">FY 2011</th>\n      <th class="th_fin_statement_class">FY 2010</th>\n      <th class="th_fin_statement_class">FY 2009</th>\n      <th class="th_fin_statement_class">FY 2008</th>\n      <th class="th_fin_statement_class">FY 2007</th>\n      <th class="th_fin_statement_class">FY 2006</th>\n      <th class="th_fin_statement_class">FY 2005</th>\n      <th class="th_fin_statement_class">FY 2004</th>\n      <th class="th_fin_statement_class">FY 2003</th>\n      <th class="th_fin_statement_class">FY 2002</th>\n      <th class="th_fin_statement_class">FY 2001</th>\n      <th class="th_fin_statement_class">FY 2000</th>\n      <th class="th_fin_statement_class">FY 1999</th>\n      <th class="th_fin_statement_class">FY 1998</th>\n      <th class="th_fin_statement_class">FY 1997</th>\n      <th class="th_fin_statement_class">FY 1996</th>\n      <th class="th_fin_statement_class">FY 1995</th>\n      <th class="th_fin_statement_class">FY 1994</th>\n      <th class="th_fin_statement_class">FY 1993</th>\n      <th class="th_fin_statement_class">FY 1992</th>\n      <th class="th_fin_statement_class">FY 1991</th>\n      <th class="th_fin_statement_class">FY 1990</th>\n      <th class="th_fin_statement_class">FY 1989</th>\n      <th class="th_fin_statement_class">FY 1988</th>\n      <th class="th_fin_statement_class">FY 1987</th>\n      <th class="th_fin_statement_class">FY 1986</th>\n      <th class="th_fin_statement_class">FY 1985</th>\n      <th class="th_fin_statement_class">FY 1984</th>\n      <th class="th_fin_statement_class">FY 1983</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr class="tr_fin_statement_class">\n      <th class="th_fin_statement_class">0</th>\n      <td class="td_fin_statement_class">2148760000000.00</td>\n      <td class="td_fin_statement_class">Revenue (Sales)</td>\n      <td class="td_fin_statement_class">260174000000</td>\n      <td class="td_fin_statement_class">265595000000</td>\n      <td class="td_fin_statement_class">229234000000</td>\n      <td class="td_fin_statement_class">215639000000</td>\n      <td class="td_fin_statement_class">233715000000</td>\n      <td class="td_fin_statement_class">182795000000</td>\n      <td class="td_fin_statement_class">170910000000</td>\n      <td class="td_fin_statement_class">156508000000</td>\n      <td class="td_fin_statement_class">108249000000</td>\n      <td class="td_fin_statement_class">65225000000</td>\n      <td class="td_fin_statement_class">42905000000</td>\n      <td class="td_fin_statement_class">32479000000</td>\n      <td class="td_fin_statement_class">24006000000</td>\n      <td class="td_fin_statement_class">19315000000</td>\n      <td class="td_fin_statement_class">13931000000</td>\n      <td class="td_fin_statement_class">8279000000</td>\n      <td class="td_fin_statement_class">6207000000</td>\n      <td class="td_fin_statement_class">5742000000</td>\n      <td class="td_fin_statement_class">5363000000</td>\n      <td class="td_fin_statement_class">7983000000</td>\n      <td class="td_fin_statement_class">6134000000</td>\n      <td class="td_fin_statement_class">5941000000</td>\n      <td class="td_fin_statement_class">7081000000</td>\n      <td class="td_fin_statement_class">9833000000</td>\n      <td class="td_fin_statement_class">11062000000</td>\n      <td class="td_fin_statement_class">9189000000</td>\n      <td class="td_fin_statement_class">7977000000</td>\n      <td class="td_fin_statement_class">7087000000</td>\n      <td class="td_fin_statement_class">6309000000</td>\n      <td class="td_fin_statement_class">5558000000</td>\n      <td class="td_fin_statement_class">5284000000</td>\n      <td class="td_fin_statement_class">4071000000</td>\n      <td class="td_fin_statement_class">2661000000</td>\n      <td class="td_fin_statement_class">1902000000</td>\n      <td class="td_fin_statement_class">1918000000</td>\n      <td class="td_fin_statement_class">1516000000</td>\n      <td class="td_fin_statement_class">983000000</td>\n    </tr>\n    <tr class="tr_fin_statement_class">\n      <th class="th_fin_statement_class">1</th>\n      <td class="td_fin_statement_class">1322873000000.00</td>\n      <td class="td_fin_statement_class">Cost of Revenue (Sales)</td>\n      <td class="td_fin_statement_class">161782000000</td>\n      <td class="td_fin_statement_class">163756000000</td>\n      <td class="td_fin_statement_class">141048000000</td>\n      <td class="td_fin_statement_class">131376000000</td>\n      <td class="td_fin_statement_class">140089000000</td>\n      <td class="td_fin_statement_class">112258000000</td>\n      <td class="td_fin_statement_class">106606000000</td>\n      <td class="td_fin_statement_class">87846000000</td>\n      <td class="td_fin_statement_class">64431000000</td>\n      <td class="td_fin_statement_class">39541000000</td>\n      <td class="td_fin_statement_class">25683000000</td>\n      <td class="td_fin_statement_class">21334000000</td>\n      <td class="td_fin_statement_class">15852000000</td>\n      <td class="td_fin_statement_class">13717000000</td>\n      <td class="td_fin_statement_class">9888000000</td>\n      <td class="td_fin_statement_class">6020000000</td>\n      <td class="td_fin_statement_class">4499000000</td>\n      <td class="td_fin_statement_class">4139000000</td>\n      <td class="td_fin_statement_class">4128000000</td>\n      <td class="td_fin_statement_class">5817000000</td>\n      <td class="td_fin_statement_class">4438000000</td>\n      <td class="td_fin_statement_class">4462000000</td>\n      <td class="td_fin_statement_class">5713000000</td>\n      <td class="td_fin_statement_class">8865000000</td>\n      <td class="td_fin_statement_class">8204000000</td>\n      <td class="td_fin_statement_class">6845000000</td>\n      <td class="td_fin_statement_class">5249000000</td>\n      <td class="td_fin_statement_class">3991000000</td>\n      <td class="td_fin_statement_class">3314000000</td>\n      <td class="td_fin_statement_class">2606000000</td>\n      <td class="td_fin_statement_class">2695000000</td>\n      <td class="td_fin_statement_class">1991000000</td>\n      <td class="td_fin_statement_class">1296000000</td>\n      <td class="td_fin_statement_class">891000000</td>\n      <td class="td_fin_statement_class">1118000000</td>\n      <td class="td_fin_statement_class">879000000</td>\n      <td class="td_fin_statement_class">506000000</td>\n    </tr>\n    <tr class="tr_fin_statement_class">\n      <th class="th_fin_statement_class">2</th>\n      <td class="td_fin_statement_class">825886000000.00</td>\n      <td class="td_fin_statement_class">Gross Profit (Income)</td>\n      <td class="td_fin_statement_class">98392000000</td>\n      <td class="td_fin_statement_class">101839000000</td>\n      <td class="td_fin_statement_class">88186000000</td>\n      <td class="td_fin_statement_class">84263000000</td>\n      <td class="td_fin_statement_class">93626000000</td>\n      <td class="td_fin_statement_class">70537000000</td>\n      <td class="td_fin_statement_class">64304000000</td>\n      <td class="td_fin_statement_class">68662000000</td>\n      <td class="td_fin_statement_class">43818000000</td>\n      <td class="td_fin_statement_class">25684000000</td>\n      <td class="td_fin_statement_class">17222000000</td>\n      <td class="td_fin_statement_class">11145000000</td>\n      <td class="td_fin_statement_class">8154000000</td>\n      <td class="td_fin_statement_class">5598000000</td>\n      <td class="td_fin_statement_class">4043000000</td>\n      <td class="td_fin_statement_class">2259000000</td>\n      <td class="td_fin_statement_class">1708000000</td>\n      <td class="td_fin_statement_class">1603000000</td>\n      <td class="td_fin_statement_class">1235000000</td>\n      <td class="td_fin_statement_class">2166000000</td>\n      <td class="td_fin_statement_class">1696000000</td>\n      <td class="td_fin_statement_class">1479000000</td>\n      <td class="td_fin_statement_class">1368000000</td>\n      <td class="td_fin_statement_class">968000000</td>\n      <td class="td_fin_statement_class">2858000000</td>\n      <td class="td_fin_statement_class">2344000000</td>\n      <td class="td_fin_statement_class">2728000000</td>\n      <td class="td_fin_statement_class">3095000000</td>\n      <td class="td_fin_statement_class">2995000000</td>\n      <td class="td_fin_statement_class">2952000000</td>\n      <td class="td_fin_statement_class">2589000000</td>\n      <td class="td_fin_statement_class">2080000000</td>\n      <td class="td_fin_statement_class">1365000000</td>\n      <td class="td_fin_statement_class">1011000000</td>\n      <td class="td_fin_statement_class">800000000</td>\n      <td class="td_fin_statement_class">637000000</td>\n      <td class="td_fin_statement_class">477000000</td>\n    </tr>\n    <tr class="tr_fin_statement_class">\n      <th class="th_fin_statement_class">3</th>\n      <td class="td_fin_statement_class"></td>\n      <td class="td_fin_statement_class">Gross Profit (Income) Ratio</td>\n      <td class="td_fin_statement_class">0.38</td>\n      <td class="td_fin_statement_class">0.38</td>\n      <td class="td_fin_statement_class">0.38</td>\n      <td class="td_fin_statement_class">0.39</td>\n      <td class="td_fin_statement_class">0.40</td>\n      <td class="td_fin_statement_class">0.39</td>\n      <td class="td_fin_statement_class">0.38</td>\n      <td class="td_fin_statement_class">0.44</td>\n      <td class="td_fin_statement_class">0.40</td>\n      <td class="td_fin_statement_class">0.39</td>\n      <td class="td_fin_statement_class">0.40</td>\n      <td class="td_fin_statement_class">0.34</td>\n      <td class="td_fin_statement_class">0.34</td>\n      <td class="td_fin_statement_class">0.29</td>\n      <td class="td_fin_statement_class">0.29</td>\n      <td class="td_fin_statement_class">0.27</td>\n      <td class="td_fin_statement_class">0.28</td>\n      <td class="td_fin_statement_class">0.28</td>\n      <td class="td_fin_statement_class">0.23</td>\n      <td class="td_fin_statement_class">0.27</td>\n      <td class="td_fin_statement_class">0.28</td>\n      <td class="td_fin_statement_class">0.25</td>\n      <td class="td_fin_statement_class">0.19</td>\n      <td class="td_fin_statement_class">0.10</td>\n      <td class="td_fin_statement_class">0.26</td>\n      <td class="td_fin_statement_class">0.26</td>\n      <td class="td_fin_statement_class">0.34</td>\n      <td class="td_fin_statement_class">0.44</td>\n      <td class="td_fin_statement_class">0.47</td>\n      <td class="td_fin_statement_class">0.53</td>\n      <td class="td_fin_statement_class">0.49</td>\n      <td class="td_fin_statement_class">0.51</td>\n      <td class="td_fin_statement_class">0.51</td>\n      <td class="td_fin_statement_class">0.53</td>\n      <td class="td_fin_statement_class">0.42</td>\n      <td class="td_fin_statement_class">0.42</td>\n      <td class="td_fin_statement_class">0.49</td>\n    </tr>\n    <tr class="tr_fin_statement_class">\n      <th class="th_fin_statement_class">4</th>\n      <td class="td_fin_statement_class">91369000000.00</td>\n      <td class="td_fin_statement_class">Research and Development (R&amp;D) Expenses</td>\n      <td class="td_fin_statement_class">16217000000</td>\n      <td class="td_fin_statement_class">14236000000</td>\n      <td class="td_fin_statement_class">11581000000</td>\n      <td class="td_fin_statement_class">10045000000</td>\n      <td class="td_fin_statement_class">8067000000</td>\n      <td class="td_fin_statement_class">6041000000</td>\n      <td class="td_fin_statement_class">4475000000</td>\n      <td class="td_fin_statement_class">3381000000</td>\n      <td class="td_fin_statement_class">2429000000</td>\n      <td class="td_fin_statement_class">1782000000</td>\n      <td class="td_fin_statement_class">1333000000</td>\n      <td class="td_fin_statement_class">1109000000</td>\n      <td class="td_fin_statement_class">782000000</td>\n      <td class="td_fin_statement_class">712000000</td>\n      <td class="td_fin_statement_class">534000000</td>\n      <td class="td_fin_statement_class">489000000</td>\n      <td class="td_fin_statement_class">471000000</td>\n      <td class="td_fin_statement_class">446000000</td>\n      <td class="td_fin_statement_class">430000000</td>\n      <td class="td_fin_statement_class">380000000</td>\n      <td class="td_fin_statement_class">314000000</td>\n      <td class="td_fin_statement_class">303000000</td>\n      <td class="td_fin_statement_class">485000000</td>\n      <td class="td_fin_statement_class">604000000</td>\n      <td class="td_fin_statement_class">614000000</td>\n      <td class="td_fin_statement_class">564000000</td>\n      <td class="td_fin_statement_class">665000000</td>\n      <td class="td_fin_statement_class">602000000</td>\n      <td class="td_fin_statement_class">583000000</td>\n      <td class="td_fin_statement_class">478000000</td>\n      <td class="td_fin_statement_class">420000000</td>\n      <td class="td_fin_statement_class">273000000</td>\n      <td class="td_fin_statement_class">192000000</td>\n      <td class="td_fin_statement_class">128000000</td>\n      <td class="td_fin_statement_class">73000000</td>\n      <td class="td_fin_statement_class">71000000</td>\n      <td class="td_fin_statement_class">60000000</td>\n    </tr>\n    <tr class="tr_fin_statement_class">\n      <th class="th_fin_statement_class">5</th>\n      <td class="td_fin_statement_class">166016000000.00</td>\n      <td class="td_fin_statement_class">Sales, General and Administrative (SG&amp;A) Expenses</td>\n      <td class="td_fin_statement_class">18245000000</td>\n      <td class="td_fin_statement_class">16705000000</td>\n      <td class="td_fin_statement_class">15261000000</td>\n      <td class="td_fin_statement_class">14194000000</td>\n      <td class="td_fin_statement_class">14329000000</td>\n      <td class="td_fin_statement_class">11993000000</td>\n      <td class="td_fin_statement_class">10830000000</td>\n      <td class="td_fin_statement_class">10040000000</td>\n      <td class="td_fin_statement_class">7599000000</td>\n      <td class="td_fin_statement_class">5517000000</td>\n      <td class="td_fin_statement_class">4149000000</td>\n      <td class="td_fin_statement_class">3761000000</td>\n      <td class="td_fin_statement_class">2963000000</td>\n      <td class="td_fin_statement_class">2433000000</td>\n      <td class="td_fin_statement_class">1859000000</td>\n      <td class="td_fin_statement_class">1421000000</td>\n      <td class="td_fin_statement_class">1212000000</td>\n      <td class="td_fin_statement_class">1109000000</td>\n      <td class="td_fin_statement_class">1138000000</td>\n      <td class="td_fin_statement_class">1256000000</td>\n      <td class="td_fin_statement_class">996000000</td>\n      <td class="td_fin_statement_class">908000000</td>\n      <td class="td_fin_statement_class">1286000000</td>\n      <td class="td_fin_statement_class">1568000000</td>\n      <td class="td_fin_statement_class">1583000000</td>\n      <td class="td_fin_statement_class">1384000000</td>\n      <td class="td_fin_statement_class">1632000000</td>\n      <td class="td_fin_statement_class">1687000000</td>\n      <td class="td_fin_statement_class">1740000000</td>\n      <td class="td_fin_statement_class">1729000000</td>\n      <td class="td_fin_statement_class">1535000000</td>\n      <td class="td_fin_statement_class">1188000000</td>\n      <td class="td_fin_statement_class">802000000</td>\n      <td class="td_fin_statement_class">609000000</td>\n      <td class="td_fin_statement_class">588000000</td>\n      <td class="td_fin_statement_class">480000000</td>\n      <td class="td_fin_statement_class">287000000</td>\n    </tr>\n    <tr class="tr_fin_statement_class">\n      <th class="th_fin_statement_class">6</th>\n      <td class="td_fin_statement_class">12377000000.00</td>\n      <td class="td_fin_statement_class">Other Expenses</td>\n      <td class="td_fin_statement_class">1807000000.00</td>\n      <td class="td_fin_statement_class">0.00</td>\n      <td class="td_fin_statement_class">2745000000.00</td>\n      <td class="td_fin_statement_class">1348000000.00</td>\n      <td class="td_fin_statement_class">1285000000.00</td>\n      <td class="td_fin_statement_class">980000000.00</td>\n      <td class="td_fin_statement_class">1156000000.00</td>\n      <td class="td_fin_statement_class">522000000.00</td>\n      <td class="td_fin_statement_class">415000000.00</td>\n      <td class="td_fin_statement_class">155000000.00</td>\n      <td class="td_fin_statement_class">326000000.00</td>\n      <td class="td_fin_statement_class">620000000.00</td>\n      <td class="td_fin_statement_class">599000000.00</td>\n      <td class="td_fin_statement_class">165000000.00</td>\n      <td class="td_fin_statement_class">165000000.00</td>\n      <td class="td_fin_statement_class">23000000.00</td>\n      <td class="td_fin_statement_class">26000000.00</td>\n      <td class="td_fin_statement_class">29000000.00</td>\n      <td class="td_fin_statement_class">11000000.00</td>\n      <td class="td_fin_statement_class">0.00</td>\n      <td class="td_fin_statement_class">0.00</td>\n      <td class="td_fin_statement_class">0.00</td>\n      <td class="td_fin_statement_class">0.00</td>\n      <td class="td_fin_statement_class">0.00</td>\n      <td class="td_fin_statement_class">0.00</td>\n      <td class="td_fin_statement_class">0.00</td>\n      <td class="td_fin_statement_cl

In [315]:
df_html

'<table class="df_tableBoot" id="df_myTable" border="1" class="dataframe"><colgroup><col class="col_definition"><col class="col_item_0"><col class="col_item_1"><col class="col_item_2"><col class="col_item_3"><col class="col_item_4"><col class="col_item_5"><col class="col_item_6"><col class="col_item_7"><col class="col_item_8"><col class="col_item_9"><col class="col_item_10"><col class="col_item_11"><col class="col_item_12"><col class="col_item_13"><col class="col_item_14"><col class="col_item_15"><col class="col_item_16"><col class="col_item_17"><col class="col_item_18"><col class="col_item_19"><col class="col_item_20"><col class="col_item_21"><col class="col_item_22"><col class="col_item_23"><col class="col_item_24"><col class="col_item_25"><col class="col_item_26"><col class="col_item_27"><col class="col_item_28"><col class="col_item_29"><col class="col_item_30"><col class="col_item_31"><col class="col_item_32"><col class="col_item_33"><col class="col_item_34"><col class="col_item_35"></colgroup>\n  <thead>\n    <tr style="text-align: right;">\n      <th class="fin_statement_class"></th>\n      <th class="fin_statement_class">FY 2019</th>\n      <th class="fin_statement_class">FY 2018</th>\n      <th class="fin_statement_class">FY 2017</th>\n      <th class="fin_statement_class">FY 2016</th>\n      <th class="fin_statement_class">FY 2015</th>\n      <th class="fin_statement_class">FY 2014</th>\n      <th class="fin_statement_class">FY 2013</th>\n      <th class="fin_statement_class">FY 2012</th>\n      <th class="fin_statement_class">FY 2011</th>\n      <th class="fin_statement_class">FY 2010</th>\n      <th class="fin_statement_class">FY 2009</th>\n      <th class="fin_statement_class">FY 2008</th>\n      <th class="fin_statement_class">FY 2007</th>\n      <th class="fin_statement_class">FY 2006</th>\n      <th class="fin_statement_class">FY 2005</th>\n      <th class="fin_statement_class">FY 2004</th>\n      <th class="fin_statement_class">FY 2003</th>\n      <th class="fin_statement_class">FY 2002</th>\n      <th class="fin_statement_class">FY 2001</th>\n      <th class="fin_statement_class">FY 2000</th>\n      <th class="fin_statement_class">FY 1999</th>\n      <th class="fin_statement_class">FY 1998</th>\n      <th class="fin_statement_class">FY 1997</th>\n      <th class="fin_statement_class">FY 1996</th>\n      <th class="fin_statement_class">FY 1995</th>\n      <th class="fin_statement_class">FY 1994</th>\n      <th class="fin_statement_class">FY 1993</th>\n      <th class="fin_statement_class">FY 1992</th>\n      <th class="fin_statement_class">FY 1991</th>\n      <th class="fin_statement_class">FY 1990</th>\n      <th class="fin_statement_class">FY 1989</th>\n      <th class="fin_statement_class">FY 1988</th>\n      <th class="fin_statement_class">FY 1987</th>\n      <th class="fin_statement_class">FY 1986</th>\n      <th class="fin_statement_class">FY 1985</th>\n      <th class="fin_statement_class">FY 1984</th>\n      <th class="fin_statement_class">FY 1983</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr class="fin_statement_class">\n      <th class="fin_statement_class">Revenue (Sales)</th>\n      <td class="fin_statement_class">260174000000</td>\n      <td class="fin_statement_class">265595000000</td>\n      <td class="fin_statement_class">229234000000</td>\n      <td class="fin_statement_class">215639000000</td>\n      <td class="fin_statement_class">233715000000</td>\n      <td class="fin_statement_class">182795000000</td>\n      <td class="fin_statement_class">170910000000</td>\n      <td class="fin_statement_class">156508000000</td>\n      <td class="fin_statement_class">108249000000</td>\n      <td class="fin_statement_class">65225000000</td>\n      <td class="fin_statement_class">42905000000</td>\n      <td class="fin_statement_class">32479000000</td>\n      <td class="fin_statement_class">24006000000</td>\n      <td class="fin_statement_class">19315000000</td>\n      <td class="fin_statement_class">13931000000</td>\n      <td class="fin_statement_class">8279000000</td>\n      <td class="fin_statement_class">6207000000</td>\n      <td class="fin_statement_class">5742000000</td>\n      <td class="fin_statement_class">5363000000</td>\n      <td class="fin_statement_class">7983000000</td>\n      <td class="fin_statement_class">6134000000</td>\n      <td class="fin_statement_class">5941000000</td>\n      <td class="fin_statement_class">7081000000</td>\n      <td class="fin_statement_class">9833000000</td>\n      <td class="fin_statement_class">11062000000</td>\n      <td class="fin_statement_class">9189000000</td>\n      <td class="fin_statement_class">7977000000</td>\n      <td class="fin_statement_class">7087000000</td>\n      <td class="fin_statement_class">6309000000</td>\n      <td class="fin_statement_class">5558000000</td>\n      <td class="fin_statement_class">5284000000</td>\n      <td class="fin_statement_class">4071000000</td>\n      <td class="fin_statement_class">2661000000</td>\n      <td class="fin_statement_class">1902000000</td>\n      <td class="fin_statement_class">1918000000</td>\n      <td class="fin_statement_class">1516000000</td>\n      <td class="fin_statement_class">983000000</td>\n    </tr>\n    <tr class="fin_statement_class">\n      <th class="fin_statement_class">Cost of Revenue (Sales)</th>\n      <td class="fin_statement_class">161782000000</td>\n      <td class="fin_statement_class">163756000000</td>\n      <td class="fin_statement_class">141048000000</td>\n      <td class="fin_statement_class">131376000000</td>\n      <td class="fin_statement_class">140089000000</td>\n      <td class="fin_statement_class">112258000000</td>\n      <td class="fin_statement_class">106606000000</td>\n      <td class="fin_statement_class">87846000000</td>\n      <td class="fin_statement_class">64431000000</td>\n      <td class="fin_statement_class">39541000000</td>\n      <td class="fin_statement_class">25683000000</td>\n      <td class="fin_statement_class">21334000000</td>\n      <td class="fin_statement_class">15852000000</td>\n      <td class="fin_statement_class">13717000000</td>\n      <td class="fin_statement_class">9888000000</td>\n      <td class="fin_statement_class">6020000000</td>\n      <td class="fin_statement_class">4499000000</td>\n      <td class="fin_statement_class">4139000000</td>\n      <td class="fin_statement_class">4128000000</td>\n      <td class="fin_statement_class">5817000000</td>\n      <td class="fin_statement_class">4438000000</td>\n      <td class="fin_statement_class">4462000000</td>\n      <td class="fin_statement_class">5713000000</td>\n      <td class="fin_statement_class">8865000000</td>\n      <td class="fin_statement_class">8204000000</td>\n      <td class="fin_statement_class">6845000000</td>\n      <td class="fin_statement_class">5249000000</td>\n      <td class="fin_statement_class">3991000000</td>\n      <td class="fin_statement_class">3314000000</td>\n      <td class="fin_statement_class">2606000000</td>\n      <td class="fin_statement_class">2695000000</td>\n      <td class="fin_statement_class">1991000000</td>\n      <td class="fin_statement_class">1296000000</td>\n      <td class="fin_statement_class">891000000</td>\n      <td class="fin_statement_class">1118000000</td>\n      <td class="fin_statement_class">879000000</td>\n      <td class="fin_statement_class">506000000</td>\n    </tr>\n    <tr class="fin_statement_class">\n      <th class="fin_statement_class">Gross Profit (Income)</th>\n      <td class="fin_statement_class">98392000000</td>\n      <td class="fin_statement_class">101839000000</td>\n      <td class="fin_statement_class">88186000000</td>\n      <td class="fin_statement_class">84263000000</td>\n      <td class="fin_statement_class">93626000000</td>\n      <td class="fin_statement_class">70537000000</td>\n      <td class="fin_statement_class">64304000000</td>\n      <td class="fin_statement_class">68662000000</td>\n      <td class="fin_statement_class">43818000000</td>\n      <td class="fin_statement_class">25684000000</td>\n      <td class="fin_statement_class">17222000000</td>\n      <td class="fin_statement_class">11145000000</td>\n      <td class="fin_statement_class">8154000000</td>\n      <td class="fin_statement_class">5598000000</td>\n      <td class="fin_statement_class">4043000000</td>\n      <td class="fin_statement_class">2259000000</td>\n      <td class="fin_statement_class">1708000000</td>\n      <td class="fin_statement_class">1603000000</td>\n      <td class="fin_statement_class">1235000000</td>\n      <td class="fin_statement_class">2166000000</td>\n      <td class="fin_statement_class">1696000000</td>\n      <td class="fin_statement_class">1479000000</td>\n      <td class="fin_statement_class">1368000000</td>\n      <td class="fin_statement_class">968000000</td>\n      <td class="fin_statement_class">2858000000</td>\n      <td class="fin_statement_class">2344000000</td>\n      <td class="fin_statement_class">2728000000</td>\n      <td class="fin_statement_class">3095000000</td>\n      <td class="fin_statement_class">2995000000</td>\n      <td class="fin_statement_class">2952000000</td>\n      <td class="fin_statement_class">2589000000</td>\n      <td class="fin_statement_class">2080000000</td>\n      <td class="fin_statement_class">1365000000</td>\n      <td class="fin_statement_class">1011000000</td>\n      <td class="fin_statement_class">800000000</td>\n      <td class="fin_statement_class">637000000</td>\n      <td class="fin_statement_class">477000000</td>\n    </tr>\n    <tr class="fin_statement_class">\n      <th class="fin_statement_class">Gross Profit (Income) Ratio</th>\n      <td class="fin_statement_class">0.38</td>\n      <td class="fin_statement_class">0.38</td>\n      <td class="fin_statement_class">0.38</td>\n      <td class="fin_statement_class">0.39</td>\n      <td class="fin_statement_class">0.40</td>\n      <td class="fin_statement_class">0.39</td>\n      <td class="fin_statement_class">0.38</td>\n      <td class="fin_statement_class">0.44</td>\n      <td class="fin_statement_class">0.40</td>\n      <td class="fin_statement_class">0.39</td>\n      <td class="fin_statement_class">0.40</td>\n      <td class="fin_statement_class">0.34</td>\n      <td class="fin_statement_class">0.34</td>\n      <td class="fin_statement_class">0.29</td>\n      <td class="fin_statement_class">0.29</td>\n      <td class="fin_statement_class">0.27</td>\n      <td class="fin_statement_class">0.28</td>\n      <td class="fin_statement_class">0.28</td>\n      <td class="fin_statement_class">0.23</td>\n      <td class="fin_statement_class">0.27</td>\n      <td class="fin_statement_class">0.28</td>\n      <td class="fin_statement_class">0.25</td>\n      <td class="fin_statement_class">0.19</td>\n      <td class="fin_statement_class">0.10</td>\n      <td class="fin_statement_class">0.26</td>\n      <td class="fin_statement_class">0.26</td>\n      <td class="fin_statement_class">0.34</td>\n      <td class="fin_statement_class">0.44</td>\n      <td class="fin_statement_class">0.47</td>\n      <td class="fin_statement_class">0.53</td>\n      <td class="fin_statement_class">0.49</td>\n      <td class="fin_statement_class">0.51</td>\n      <td class="fin_statement_class">0.51</td>\n      <td class="fin_statement_class">0.53</td>\n      <td class="fin_statement_class">0.42</td>\n      <td class="fin_statement_class">0.42</td>\n      <td class="fin_statement_class">0.49</td>\n    </tr>\n    <tr class="fin_statement_class">\n      <th class="fin_statement_class">Research and Development (R&amp;D) Expenses</th>\n      <td class="fin_statement_class">16217000000</td>\n      <td class="fin_statement_class">14236000000</td>\n      <td class="fin_statement_class">11581000000</td>\n      <td class="fin_statement_class">10045000000</td>\n      <td class="fin_statement_class">8067000000</td>\n      <td class="fin_statement_class">6041000000</td>\n      <td class="fin_statement_class">4475000000</td>\n      <td class="fin_statement_class">3381000000</td>\n      <td class="fin_statement_class">2429000000</td>\n      <td class="fin_statement_class">1782000000</td>\n      <td class="fin_statement_class">1333000000</td>\n      <td class="fin_statement_class">1109000000</td>\n      <td class="fin_statement_class">782000000</td>\n      <td class="fin_statement_class">712000000</td>\n      <td class="fin_statement_class">534000000</td>\n      <td class="fin_statement_class">489000000</td>\n      <td class="fin_statement_class">471000000</td>\n      <td class="fin_statement_class">446000000</td>\n      <td class="fin_statement_class">430000000</td>\n      <td class="fin_statement_class">380000000</td>\n      <td class="fin_statement_class">314000000</td>\n      <td class="fin_statement_class">303000000</td>\n      <td class="fin_statement_class">485000000</td>\n      <td class="fin_statement_class">604000000</td>\n      <td class="fin_statement_class">614000000</td>\n      <td class="fin_statement_class">564000000</td>\n      <td class="fin_statement_class">665000000</td>\n      <td class="fin_statement_class">602000000</td>\n      <td class="fin_statement_class">583000000</td>\n      <td class="fin_statement_class">478000000</td>\n      <td class="fin_statement_class">420000000</td>\n      <td class="fin_statement_class">273000000</td>\n      <td class="fin_statement_class">192000000</td>\n      <td class="fin_statement_class">128000000</td>\n      <td class="fin_statement_class">73000000</td>\n      <td class="fin_statement_class">71000000</td>\n      <td class="fin_statement_class">60000000</td>\n    </tr>\n    <tr class="fin_statement_class">\n      <th class="fin_statement_class">Sales, General and Administrative (SG&amp;A) Expenses</th>\n      <td class="fin_statement_class">18245000000</td>\n      <td class="fin_statement_class">16705000000</td>\n      <td class="fin_statement_class">15261000000</td>\n      <td class="fin_statement_class">14194000000</td>\n      <td class="fin_statement_class">14329000000</td>\n      <td class="fin_statement_class">11993000000</td>\n      <td class="fin_statement_class">10830000000</td>\n      <td class="fin_statement_class">10040000000</td>\n      <td class="fin_statement_class">7599000000</td>\n      <td class="fin_statement_class">5517000000</td>\n      <td class="fin_statement_class">4149000000</td>\n      <td class="fin_statement_class">3761000000</td>\n      <td class="fin_statement_class">2963000000</td>\n      <td class="fin_statement_class">2433000000</td>\n      <td class="fin_statement_class">1859000000</td>\n      <td class="fin_statement_class">1421000000</td>\n      <td class="fin_statement_class">1212000000</td>\n      <td class="fin_statement_class">1109000000</td>\n      <td class="fin_statement_class">1138000000</td>\n      <td class="fin_statement_class">1256000000</td>\n      <td class="fin_statement_class">996000000</td>\n      <td class="fin_statement_class">908000000</td>\n      <td class="fin_statement_class">1286000000</td>\n      <td class="fin_statement_class">1568000000</td>\n      <td class="fin_statement_class">1583000000</td>\n      <td class="fin_statement_class">1384000000</td>\n      <td class="fin_statement_class">1632000000</td>\n      <td class="fin_statement_class">1687000000</td>\n      <td class="fin_statement_class">1740000000</td>\n      <td class="fin_statement_class">1729000000</td>\n      <td class="fin_statement_class">1535000000</td>\n      <td class="fin_statement_class">1188000000</td>\n      <td class="fin_statement_class">802000000</td>\n      <td class="fin_statement_class">609000000</td>\n      <td class="fin_statement_class">588000000</td>\n      <td class="fin_statement_class">480000000</td>\n      <td class="fin_statement_class">287000000</td>\n    </tr>\n    <tr class="fin_statement_class">\n      <th class="fin_statement_class">Other Expenses</th>\n      <td class="fin_statement_class">1807000000.00</td>\n      <td class="fin_statement_class">0.00</td>\n      <td class="fin_statement_class">2745000000.00</td>\n      <td class="fin_statement_class">1348000000.00</td>\n      <td class="fin_statement_class">1285000000.00</td>\n      <td class="fin_statement_class">980000000.00</td>\n      <td class="fin_statement_class">1156000000.00</td>\n      <td class="fin_statement_class">522000000.00</td>\n      <td class="fin_statement_class">415000000.00</td>\n      <td class="fin_statement_class">155000000.00</td>\n      <td class="fin_statement_class">326000000.00</td>\n      <td class="fin_statement_class">620000000.00</td>\n      <td class="fin_statement_class">599000000.00</td>\n      <td class="fin_statement_class">165000000.00</td>\n      <td class="fin_statement_class">165000000.00</td>\n      <td class="fin_statement_class">23000000.00</td>\n      <td class="fin_statement_class">26000000.00</td>\n      <td class="fin_statement_class">29000000.00</td>\n      <td class="fin_statement_class">11000000.00</td>\n      <td class="fin_statement_class">0.00</td>\n      <td class="fin_statement_class">0.00</td>\n      <td class="fin_statement_class">0.00</td>\n      <td class="fin_statement_class">0.00</td>\n      <td class="fin_statement_class">0.00</td>\n      <td class="fin_statement_class">0.00</td>\n      <td class="fin_statement_class">0.00</td>\n      <td class="fin_statement_class">0.00</td>\n      <td class="fin_statement_class">0.00</td>\n      <td class="fin_statement_class">0.00</td>\n      <td class="fin_statement_class">0.00</td>\n      <td class="fin_statement_class">0.00</td>\n      <td class="fin_statement_class">0.00</td>\n      <td class="fin_statement_class">0.00</td>\n      <td class="fin_statement_class">0.00</td>\n      <td class="fin_statement_class">0.00</td>\n      <td class="fin_statement_class">0.00</td>\n      <td class="fin_statement_class">0.00</td>\n    </tr>\n    <tr class="fin_statement_class">\n      <th class="fin_statement_class">Operating Expenses</th>\n      <td class="fin_statement_class">34462000000</td>\n      <td class="fin_statement_class">30941000000</td>\n      <td class="fin_statement_class">26842000000</td>\n      <td class="fin_statement_class">24239000000</td>\n      <td class="fin_statement_class">22396000000</td>\n      <td class="fin_statement_class">18034000000</td>\n      <td class="fin_statement_class">15305000000</td>\n      <td class="fin_statement_class">13421000000</td>\n      <td class="fin_statement_class">10028000000</td>\n      <td class="fin_statement_class">7299000000</td>\n      <td class="fin_statement_class">5482000000</td>\n      <td class="fin_statement_class">4870000000</td>\n      <td class="fin_statement_class">3745000000</td>\n      <td class="fin_statement_class">3145000000</td>\n      <td class="fin_statement_class">2393000000</td>\n      <td class="fin_statement_class">1933000000</td>\n      <td class="fin_statement_class">1709000000</td>\n      <td class="fin_statement_class">1586000000</td>\n      <td class="fin_statement_class">1579000000</td>\n      <td class="fin_statement_class">1644000000</td>\n      <td class="fin_statement_class">1337000000</td>\n      <td class="fin_statement_class">1218000000</td>\n      <td class="fin_statement_class">2438000000</td>\n      <td class="fin_statement_class">2351000000</td>\n      <td class="fin_statement_class">2174000000</td>\n      <td class="fin_statement_class">1821000000</td>\n      <td class="fin_statement_class">2618000000</td>\n      <td class="fin_statement_class">2290000000</td>\n      <td class="fin_statement_class">2548000000</td>\n      <td class="fin_statement_class">2240000000</td>\n      <td class="fin_statement_class">1955000000</td>\n      <td class="fin_statement_class">1460000000</td>\n      <td class="fin_statement_class">994000000</td>\n      <td class="fin_statement_class">737000000</td>\n      <td class="fin_statement_class">698000000</td>\n      <td class="fin_statement_class">551000000</td>\n      <td class="fin

In [248]:
# df.to_numpy().tolist()#.to_json()#(dtype=str)

In [ ]:
tddplaceholder</colgroup>