In [4]:
import glob
import pandas as pd
import os

# files = glob.glob("../US-East/Wall Street Consensus/*/*/grade*.csv")
# df = pd.concat([pd.read_csv(f) for f in files])

company_profiles = pd.read_csv("../reference_Data/Company_Profiles.csv")#, encoding='cp1252')
# company_profiles = company_profiles[['symbol','sector']]#,'exchangeShortName']]
# company_profiles = company_profiles[['symbol','companyName','sector','industry','exchangeShortName']]

no speed test needed, clear winner - csv

In [13]:
company_profiles = pd.read_csv("../reference_Data/Company_Profiles.csv")#, encoding='cp1252')
# xl_cp = pd.read_excel("../reference_Data/speed_test.xlsx", engine="openpyxl")

In [5]:
import timeit

In [12]:
xl_cp = pd.read_excel("../reference_Data/speed_test.xlsx", engine="openpyxl")

In [8]:
for x in files:
    print(len(pd.read_csv(x)))

209103
85384
210453
210454
79879
84271
79879
204529
85383
85384
1784
208456
2368

In [7]:
company_profiles

,index,symbol,price,mktCap,companyName,currency,exchange_fixed,industry,description,sector,country,ipoDate,Column5,Column6
0,30,XXII,0.8052,111809272.0,22nd Century Group Inc,USD,AMEX,Biotechnology,"22nd Century Group, Inc. is a plant biotechnol...",Healthcare,US,10/17/2006,NaN,NaN
1,41,SCCB,25.0000,208203904.0,378,USD,AMEX,NaN,NaN,Industrials,NaN,NaN,NaN,NaN
2,128,FAX,3.9900,988307070.0,Aberdeen Asia-Pacific Income Fund Inc,USD,AMEX,Asset Management,NaN,Financial Services,SG,NaN,NaN,NaN
3,130,IAF,5.0000,113711504.0,Aberdeen Australia Equity Fund Inc,USD,AMEX,Asset Management,"Aberdeen Australia Equity Fund, Inc. is a non-...",Financial Services,US,12/13/1985,NaN,NaN
4,133,AEF,7.2700,368965600.0,Aberdeen Emerging Markets Equity Income Fund Inc,USD,AMEX,Asset Management,"Aberdeen Emerging Markets Equity Income Fund, ...",Financial Services,US,9/26/1989,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12856,14292,YP-UN.TO,0.0000,0.0,Yieldplus Income Fund,USD,TSX,NaN,NaN,Industrials,NaN,NaN,NaN,NaN
12857,14300,YRB-A.TO,0.0000,0.0,Yorbeau Res A J,USD,TSX,NaN,NaN,Industrials,NaN,NaN,NaN,NaN
12858,14304,YPG-DB.TO,100.5000,0.0,YP DIGITAL AND MEDIA SOL 8 PCT,USD,TSX,NaN,NaN,Industrials,NaN,NaN,NaN,NaN
12859,14323,ZAR.TO,0.0450,1034730.0,Zargon Oil & Gas Ltd,CAD,TSX,Oil & Gas E&P,Zargon Oil & Gas Ltd. engages in the explorati...,Energy,CA,10/21/1993,NaN,NaN
12860,14328,ZCL.TO,0.0000,0.0,ZCL Composites Inc.,USD,TSX,NaN,NaN,Industrials,NaN,NaN,NaN,NaN

In [37]:
# files = (glob.glob("../US-West/13F_Filings/*"))
names = [os.path.basename(x) for x in files]

In [13]:
pd.DataFrame({"funds_ciks":names}).to_csv("funds_ciks_list.csv")

In [175]:
try:
    del names
    del names_list
    del symbols_df
    del sectors_df
#     del df
except Exception as e:
    pass

In [176]:
df

       Unnamed: 0  quantity underlying symbol actype porc exchange     actdate
0               0      2000        CMD   1CMD      C    C     AMEX  09/17/2018
1               1      2000        CMD   1CMD      M    C     AMEX  09/17/2018
2               2       866        COG   1COG      C    C     AMEX  09/17/2018
3               3       866        COG   1COG      F    C     AMEX  09/17/2018
4               4      6000        CWH   1CWH      C    C     ARCA  09/17/2018
...           ...       ...        ...    ...    ...  ...      ...         ...
99688       99688         8       ZYXI   ZYXI      M    P     BATS  08/31/2020
99689       99689        24       ZYXI   ZYXI      C    C     EDGX  08/31/2020
99690       99690        24       ZYXI   ZYXI      M    C     EDGX  08/31/2020
99691       99691         6       ZYXI   ZYXI      C    P     EDGX  08/31/2020
99692       99692         6       ZYXI   ZYXI      M    P     EDGX  08/31/2020

[42246335 rows x 8 columns]

In [167]:
# THIS
symbols_df = pd.DataFrame({'symbol':(df['symbol']).unique()}) #historical dividends

In [143]:
# df - dividends - 4.6 million rows
# df - earnings - 187314 rows
# df - ipo - 6656 rows
# df - stock splits - 10063 rows

In [20]:
names[1].split("~")[1]

'AA'

In [21]:
names[1]

'quarter~AA~balance_sheet.csv'

In [38]:
# OR THIS
names = [os.path.basename(x) for x in files]
names_list=[]
for x in names:
#     names_list.append(x.split("-")[4].split(".csv")[0]) # market cap n price        
#         names_list.append(x.split("_")[1])
    names_list.append(x.split("~")[1]) # financial statements eg Balance Sheet
symbols_df = pd.DataFrame({'symbol':names_list})

In [172]:
# for minute data - large, small, tiny cap, etf+
# minute data - Large Cap+, Small Cap+, Tiny Cap+ AND Ticks
names = [os.path.basename(x).replace(".","-") for x in files]
names = [os.path.basename(x) for x in names]
symbols_df = pd.DataFrame({'symbol':names})

In [39]:
sectors_df = pd.merge(symbols_df,  
                      company_profiles,  
                      on ='symbol',  
                      how ='inner')
sectors_df.groupby(["sector"]).count()['symbol']

sector
Basic Materials            480
Communication Services     349
Consumer Cyclical          703
Consumer Defensive         303
Energy                     482
Financial Services        1336
Healthcare                1184
Industrials               1050
Real Estate                393
Technology                 860
Utilities                  156
Name: symbol, dtype: int64

In [5]:
df["YYYY-MM"]=df['actdate'].apply(lambda x:"{}-{}".format(str(x)[-4:],str(x)[0:2]))

In [7]:
df_groupby_options_vol = df.groupby(["YYYY-MM"]).count()['symbol']

In [8]:
df_groupby_options_vol

MM-YYYY
2018-09     825998
2018-10    1904893
2018-11    1636831
2018-12    1449477
2019-01    1611575
2019-02    1540195
2019-03    1628063
2019-04    1670404
2019-05    1777071
2019-06    1557724
2019-07    1787688
2019-08    1815907
2019-09    1654600
2019-10    1893030
2019-11    1698369
2019-12    1750331
2020-01    1894464
2020-02    1805536
2020-03    2033965
2020-04    1861056
2020-05    1938252
2020-06    2217632
2020-07    2155267
2020-08    2138007
Name: symbol, dtype: int64

In [34]:
# sectors_df.to_csv("../Sample_Data/sector_n_exchange_count/market_cap_n_price_by_sectors_n_exchange.csv")
# sectors_df.to_csv("../Sample_Data/sector_n_exchange_count/financial_statements_by_sectors_n_exchange.csv")
# sectors_df.to_csv("../Sample_Data/sector_n_exchange_count/analyst_ratings_by_sectors_n_exchange.csv")
# sectors_df.to_csv("../Sample_Data/sector_n_exchange_count/analyst_grades_by_sectors_n_exchange.csv")
# sectors_df.to_csv("../Sample_Data/sector_n_exchange_count/dividends_by_sectors_n_exchange.csv")
# sectors_df.to_csv("../Sample_Data/sector_n_exchange_count/earnings_by_sectors_n_exchange.csv")
# sectors_df.to_csv("../Sample_Data/sector_n_exchange_count/stock_splits_by_sectors_n_exchange.csv")
# sectors_df.to_csv("../Sample_Data/sector_n_exchange_count/ipos_by_sectors_n_exchange.csv")
# sectors_df.to_csv("../Sample_Data/sector_n_exchange_count/minute_data_large_by_sectors_n_exchange.csv")
# sectors_df.to_csv("../Sample_Data/sector_n_exchange_count/minute_data_large_by_sectors_n_exchange.csv")
# sectors_df.to_csv("../Sample_Data/sector_n_exchange_count/minute_data_small_by_sectors_n_exchange.csv")
# sectors_df.to_csv("../Sample_Data/sector_n_exchange_count/minute_data_tiny_by_sectors_n_exchange.csv")
# sectors_df.to_csv("../Sample_Data/sector_n_exchange_count/minute_data_etf_by_sectors_n_exchange.csv")

# sectors_df.to_csv("../Sample_Data/sector_n_exchange_count/minute_data_etf_by_sectors_n_exchange.csv")

sectors_df.to_csv("../Sample_Data/sector_n_exchange_count/options_volume_by_sectors_n_exchange.csv")

In [40]:
sectors_df

,symbol,companyName,sector,industry,exchangeShortName
0,AAU,Almaden Minerals Ltd,Basic Materials,Gold,AMEX
1,AA,Alcoa Corp,Basic Materials,Aluminum,NYSE
2,ABX.TO,Barrick Gold Corp,Basic Materials,Gold,TSX
3,ACET,Aceto Corporation,Basic Materials,Chemicals,NASDAQ
4,ACH,Aluminum Corporation of China Limited American...,Basic Materials,Metals & Mining,NYSE
...,...,...,...,...,...
7291,WR,Westar Energy Inc.,Utilities,Utilities Regulated,NYSE
7292,WTRG,Essential Utilities Inc,Utilities,Utilities Regulated Water,NYSE
7293,WTR,Aqua America Inc.,Utilities,Utilities Regulated,NYSE
7294,XEL,Xcel Energy Inc,Utilities,Utilities Regulated Electric,NASDAQ
7295,YORW,York Water Co,Utilities,Utilities Regulated Water,NASDAQ

In [41]:
sectors_df.to_csv("../Sample_Data/sector_n_exchange_count/fin_statements_balance_sheet_by_sectors_n_exchange.csv")

In [196]:
# delete 0 byte files
# import os, os.path

# for root, _, files in os.walk("../MVLLC/options/volbyclass/"):
#     for f in files:
#         fullpath = os.path.join(root, f)
#         try:
#             if os.path.getsize(fullpath) < 1 * 1024:   #set file size in kb
#                 print (fullpath)
#                 os.remove(fullpath)
#         except WindowsError:
#             print ("Error" + fullpath)

In [206]:
# df['Underlying Security'].to_csv("../Sample_Data/volbyclass_symbols.csv")

In [13]:
df = df.sort_values("date")

In [14]:
df['year'] = df['date'].apply(lambda x: str(x)[:4])

In [15]:
df

,Unnamed: 0,date,label,symbol,numerator,denominator,year
0,0,1974-04-01,"April 01, 74",AIG,5.0,4.0,1974
1,0,1974-04-30,"April 30, 74",UIS,2.0,1.0,1974
2,0,1974-06-03,"June 03, 74",MO,2.0,1.0,1974
3,0,1974-11-29,"November 29, 74",DIS,102.0,100.0,1974
4,0,1974-12-17,"December 17, 74",IFF,102.0,100.0,1974
...,...,...,...,...,...,...,...
268,0,2020-09-30,"September 30, 20",AVT.PA,1.0,80.0,2020
299,0,2020-10-02,"October 02, 20",ADRO,1.0,5.0,2020
300,0,2020-10-02,"October 02, 20",NTES,5.0,1.0,2020
298,0,2020-10-05,"October 05, 20",NVUS,1.0,18.0,2020
297,0,2020-10-09,"October 09, 20",FTV,1195.0,1000.0,2020

In [150]:
# df = df[df.date.notna()]
# # df.event.unique()

In [207]:
# df.sort_values("date").year.value_counts()

In [208]:
# df.sort_values("country").country.value_counts()

In [209]:
# df.groupby(["country","event"]).mean().to_csv("../Sample_Data/historical_economic_events.csv")

In [210]:
# pd.DataFrame({'symbols':df['symbol'].unique()}).to_csv("../Sample_Data/historical_earnings_calendar_symbols.csv")

# pd.DataFrame({'symbols':df['symbol'].unique()}).to_csv("../Sample_Data/historical_dividends_symbols.csv")

In [22]:
# pd.DataFrame({'symbols':df['symbol'].unique()}).to_csv("../US-East/Wall Street Consensus/ratings_symbol.csv")
# pd.DataFrame({'symbols':df['gradingCompany'].unique()}).to_csv(("../US-East/Wall Street Consensus/grade_companies.csv"))
# pd.DataFrame({'symbols':df['symbol'].unique()}).to_csv("../US-East/Wall Street Consensus/grade_symbols.csv")